<div class="modal">
    <ion-header class="bar bar-header bar bar-stable bg-color">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal('addReminder2')"></button>
        <h1 class="title"> Add Alert</h1>
        <a class="button icon-right icon ion-search button-clear button-dark" href="#"></a>
    </ion-header>

    <!-- <ion-content class="has-header" padding="true">
        <ion-list>
            <ion-radio-fix ng-model="data.alertTime" ng-value="null" ng-click="setValueModal('vetReminder2', '')">None</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="0" ng-click="setValueModal('vetReminder2', 'At time of event')">At time of event</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="5" ng-click="setValueModal('vetReminder2', '5 minutes before')">5 minutes before</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="15" ng-click="setValueModal('vetReminder2', '15 minutes before')">15 minutes before</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="30" ng-click="setValueModal('vetReminder2', '30 minutes before')">30 minutes before</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="60" ng-click="setValueModal('vetReminder2', '1 hour before')">1 hour before</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="120" ng-click="setValueModal('vetReminder2', '2 hour before')">2 hour before</ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="1440" ng-click="setValueModal('vetReminder2', '1 day before')">1 day before </ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="2880" ng-click="setValueModal('vetReminder2', '2 day before')">2 day before </ion-radio-fix>
            <ion-radio-fix ng-model="data.alertTime" ng-value="10080" ng-click="setValueModal('vetReminder2', '1 week before')">1 week before </ion-radio-fix>
        </ion-list>
        <div class="row">
            <div class="col col-offset-33">
                <button ng-click="SaveAlert(data.alertTime)" class="col-50 customButton greenBtnbg button button-full" type="button">
                    Save
                </button>
            </div>
        </div>
    </ion-content> -->

    <ion-content class="has-header">
        <div class="mid-container-add-alert">
            <div class="add-repeat-checkbox">
                <ul class="list">

                    <label class="item item-radio border-top-left-right-none " ng-click="setValueModal('vetReminder2', '');setValueModal('vetReminderTime2', null)">
                        <input type="radio" name="group" value="go" checked="checked">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">None</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', 'At time of event');setValueModal('vetReminderTime2', 0)">
                        <input type="radio" name="group" value="python" ng-checked="data.vetReminderTime2 === 0">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">At time of event</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none border-bottom" ng-click="setValueModal('vetReminder2', '5 minutes before');setValueModal('vetReminderTime2', 5)">
                        <input type="radio" name="group" value="ruby" ng-checked="data.vetReminderTime2 === 5">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">5 minutes before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none border-bottom" ng-click="setValueModal('vetReminder2', '15 minutes before');setValueModal('vetReminderTime2', 15)">
                        <input type="radio" name="group" value=".net" ng-checked="data.vetReminderTime2 === 15">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">15 minutes before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none border-bottom" ng-click="setValueModal('vetReminder2', '30 minutes before');setValueModal('vetReminderTime2', 30)">
                        <input type="radio" name="group" value="java" ng-checked="data.vetReminderTime2 === 30">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">30 minutes before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', '1 hour before');setValueModal('vetReminderTime2', 60)">
                        <input type="radio" name="group" value="php" ng-checked="data.vetReminderTime2 === 60">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">1 hour before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', '2 hour before');setValueModal('vetReminderTime2', 120)">
                        <input type="radio" name="group" value="php" ng-checked="data.vetReminderTime2 === 120">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">2 hour before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', '1 day before');setValueModal('vetReminderTime2', 1440)">
                        <input type="radio" name="group" value="php" ng-checked="data.vetReminderTime2 === 1440">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">1 day before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', '2 day before');setValueModal('vetReminderTime2', 2880)">
                        <input type="radio" name="group" value="php" ng-checked="data.vetReminderTime2 === 2880">
                        <div class="radio-content border-bottom">
                            <div class="item-content">
                                <p class="alert-list-text">2 days before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>

                    <label class="item item-radio border-top-left-right-none" ng-click="setValueModal('vetReminder2', '1 week before');setValueModal('vetReminderTime2', 10080)">
                        <input type="radio" name="group" value="php" ng-checked="data.vetReminderTime2 === 10080">
                        <div class="radio-content">
                            <div class="item-content">
                                <p class="alert-list-text">1 week before</p>
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>
                </ul>
            </div>
        </div>
    </ion-content>
</div>
