<div class="modal" style="background-color:#0f6fa9">
    <ion-content>
        <div class="bub-header-img-section login">
            <img src="images/bubtalk-signup.jpg" width="100%" height="300" border="0" alt="">
            <a class="button-positive close-btn ion-ios-close-outline" href="#" ng-click="closeModal2()"></a>
        </div>
        <div class="login-banner">
            <div class="login-container padd-top-5">
                <input class="details-login-main margin-topt-15" type="email" placeholder="Email id" ng-model="data.emailId">
                <input class="details-login-main margin-topt-15" type="password" placeholder="Password" ng-model="data.password" autocomplete="false">
                <button class="button button-block button-light radius-1 min-h-40 lh-0 margin-top-37" ng-click="onClickLogin()">
                 <p class="sign-txt-c font-size-14-600 "> Sign in</p>
                </button>
                <div class="password right-align padd-top-5" ng-click="forgotPassword()">
                    <a href="#"><p class="font-size-14 white">Forgot Password?</p></a>
                </div>
                <div class="sign-up">
                    <p class="font-size-14-600 center margin-top-20 margin-bottom-10 c-6fa">Or Sign in with</p>
                    <div class="row center">
                        <div class="social-icons" style="overflow:hidden;margin:0 auto;">
                            <ul class="icons-social" style="width:100%">
                                <li class="social-icon-list" ng-click="facebookLogin()"><a class="ion-social-facebook"></li></a>
                                <li class="social-icon-list" ng-click="twitterLogin()"><a class="ion-social-twitter"></li></a>
                                <li class="social-icon-list" ng-click="googlePlusLogin()"><a class="ion-social-googleplus"></li></a>
                            </ul>
                        </div>
                    </div>
                    <p class="font-size-14 center white padd-bottom-20 padd-top-10">Don't have an account yet?
                    <a href="#" class="font-size-14 center white margin-bottom-20" ng-click="showRegistrationScreen()"><u>Create one</u></a></p>
                </div>
            </div>
        </div>
    </ion-content>
</div>
