<ion-modal-view class="modal-1">
    <div class="modal">
        <ion-content>
            <div class="create-account padding">
                <div class="row margin-top-20">
                    <div class="col-20"></div>
                    <div class="col-60">
                        <div class="circle-img">
                            <img src="images/bubles.png" width="100" height="100">
                        </div>
                    </div>
                    <div class="col-20"></div>
                </div>
                <div class="padd-topt-20">
                    <p class="c-333 size-16 font-titi titi-400 text-center">Leica’s Deworming was scheduled for
                        <br>yesterday at 6:00 PM.</p>
                </div>
                <div class="padd-top-25">
                    <p class="c-333 size-16 font-titi titi-400 text-center">Did it happen?</p>
                </div>
                <div class="repeat-screen-buttons-1 padd-top-40">
                    <div class=" btn-back ">
                        <button class=" button button-medium button-positive s-btn-1 titi-700 size-16 font-titi">Yes</button>
                    </div>
                    <div class="btn-back padd-topt-20">
                        <button class="active button button-medium button-positive r-btn-1 text-gray">No. Let me reschedule.</button>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
</ion-modal-view>
