<ion-modal-view class="modal-4">
	<div class="modal-4">
		<div class="post-edit-wrapper">
			<button class="button button-full button-positive edit-post-btn" ng-click="onEditThreadPostclick()">
		  		<p class="font-size-16 font-titi titi-600 c-00d">Edit this Post</p>
			</button>
			<button class="button button-full button-positive edit-post-btn" ng-click="onDeleteThreadPostclick()">
		  		<p class="font-size-16 font-titi titi-600 c-00d">Delete this Post</p>
			</button>
			<button class="button button-full button-positive edit-post-btn" ng-click="closeModal()">
		  		<p class="font-size-16 font-titi titi-600 c-999" >Cancel</p>
			</button>
		</div>
	</div>
</ion-modal-view>