<ion-modal-view class="modal-2">
    <div class="modal">
        <ion-content style="margin-top: 25%;">
            <div class="enter-otp-resend">
                <div class="login-step-1 margin-top-40">
                    <p class="center size-22 font-titi titi-600 blue-ac">Welcome to the Pet Calendar!</p>
                    <!-- Hi {{data.name}}! -->
                </div>
                <form ng-submit="enterToPetProfile()">
                    <div class="mid-container-step1 padd-topt-30">
                        <div class="create-ac-text">
                            <p class="center size-14 font-titi titi-600 black-dark">A smart &amp fun way of keeping track of <br/>your pet’s activities</p>
                            <p class="center size-14 font-titi titi-600 black-dark">Please click below to add your pet’s details.</p>
                            <center>
                                <button class="button button-block button-positive custom-step-submit" type="submit" style="width: 70%;">
                                    <p class="font-size-14 font-titi titi-600" >Add Pet</p>
                                </button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>
    </div>
</ion-modal-view>