<ion-modal-view class="modal-1 modal slide-in-up ng-enter active ng-enter-active" style="min-height: 65%; height: 65%;top: 150px;">
<!-- <ion-modal-view class="modal-1"> -->
    <div class="modal">
        <ion-content>
            <div class="create-account padd-topt-20">
                <div class="login-step-1">
                    <p class="center size-22 font-titi titi-600 blue-ac">Change Password</p>
                </div>
                <div class="mid-container-step1">
                    <!-- wrong password and pass don't match than a input background color (class="bg-fab") used. -->
                    <div>
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Old Password</p>
                        <input class="modal-input " type="password" placeholder="" ng-model="data.oldPassword">
                        <!-- <p class="c-f30 size-10 font-titi titi-700">Wrong Password!!!</p> -->
                    </div>
                    <div>
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">New Password</p>
                        <input class="modal-input bg-fab" type="password" placeholder="" ng-model="data.newPassword">
                    </div>
                    <div>
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Re-type New Password</p>
                        <input class="modal-input bg-fab" type="password" placeholder="" ng-model="data.confirmPassword">
                        <p class="c-f30 size-10 font-titi titi-700" ng-if="data.newPassword != data.confirmPassword && data.newPassword.length > 0 && data.confirmPassword.length > 0">Passwords do not match !</p>
                    </div>
                    <div class="password right-align padd-top-5">
                        <a href="#">
                            <p class="font-size-14 c-308">Forgot Password?</p>
                        </a>
                    </div>
                    <button class="button button-full button-positive custom-step-submit-g margin-top-20"  ng-click="changePasswordClick(data)">
                        <p class="font-size-14 font-titi titi-600">Save</p>
                    </button>
                </div>
            </div>
        </ion-content>
    </div>
</ion-modal-view>
