<ion-modal-view class="modal-2 modal slide-in-up ng-enter active ng-enter-active" style="min-height: 45%; height: 45%;top: 150px;">

  <div class="modal" style="min-height: 100%">
    <ion-content class="scroll-content ionic-scroll">
      <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="unfollow-modal">
          <div class="login-step-1 margin-top-40">
            <p class="center size-22 font-titi titi-600 blue-ac lh-26">Do you really want to Unfollow {{UnfollowerName}}?</p>
          </div>
          <div class="mid-container-step1 padd-topt-50" style="padding-top: 10px;">
            <div class="create-ac-text">
              <div class="margin-top-15-up">
                <button class="button button-full button-positive custom-step-login" ng-click="onClickUnFollowUser()">
                <p class="font-size-14 font-titi titi-600">Unfollow</p>
              </button>
                <button class="button button-full button-positive custom-step-login-cancel margin-topt-15" ng-click="closeModal()">
                <p class="font-size-14 font-titi titi-600">Cancel</p>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px; transform: translate3d(0px, 0px, 0px) scaleY(1);"></div>
      </div>
    </ion-content>
  </div>
</ion-modal-view>