<div class="modal">
	<div class="bar bar-header bar bar-stable bg-color bg-efe">
		<a class="button icon-left ion-chevron-left button-clear button-dark " href="#" ng-click="SaveAlert()"></a>
		<h1 class="title light-black font-size-20">Back</h1>
	</div>

	<ion-content class="has-header">
		<div class="mid-container-add-alert margin-top-zero">
			<div class="add-repeat-checkbox">
				<ul class="list">
					<div ng-repeat="city in dynamicList.cityList">
						<label class="item item-radio border-top-left-right-none" ng-click="CloseCity(city.name)">
			              <input type="radio" name="group" value="go" ng-checked="city.name == dynamicList.selectedCity">
			              <div class="radio-content border-bottom">
			                <i class="radio-icon ion-record"></i>
			                <div class="item-content">
			                  <p class="alert-list-text padd-left-40 titi-400 c-333">{{city.name}}</p>
			                </div>
			              </div>
			            </label>
					</div>
				</ul>
			</div>
		</div>
	</ion-content>
</div>