<div class="modal">
    <ion-header class="bar bar-header bar bar-stable bg-color">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal('addRepeat')"></button>
        <h1 class="title">Add Repeat</h1>
        <a class="button icon-right icon ion-search button-clear button-dark"  href="#"></a>
    </ion-header>

    <!-- <ion-content has-header="true" padding="true" style="top:43px">
        <ion-list>
            <form novalidate="novalidate" on-valid-submit="SaveAlert()">
                <label style="use-all-width" class="item item-input item-stacked-label validated label">
                  <span class="input-label globalfont">
                    Select End Date
                  </span>
                  <input id="selectDate" name="selectEndDate" required="required" type="date"
                    class="mwtTransBackground input" ng-model="data.selectEndDate"/>
              </label>

                <ion-radio-fix ng-model="data.choice" ng-value="'daily'">Daily</ion-radio-fix>
                <ion-radio-fix ng-model="data.choice" ng-value="'weekly'">Weekly</ion-radio-fix>
                <ion-radio-fix ng-model="data.choice" ng-value="'monthly'">Monthly</ion-radio-fix>
                <ion-radio-fix ng-model="data.choice" ng-value="'yearly'">Yearly</ion-radio-fix>

                <div class="row">
                    <div class="col col-offset-33">
                        <button class="col-50 customButton greenBtnbg button button-full" type="submit">
                            Save
                        </button>
                    </div>
                </div>

            </form>
        </ion-list>
    </ion-content> -->

    <ion-content class="has-header">
        <div class="mid-container margin-zero">
            <div class="add-repeat-checkbox">
                <ul>
                    <li class="custom-list" ng-click="setValueModal('choice', '')">
                        <input type="radio" id="zero-option" name="none" ng-checked="data.choice === ''">
                        <label for="zero-option">
                            <p class="alert-list-text">None</p>
                        </label>
                        <div class="check"></div>
                    </li>
                    <li class="custom-list" ng-click="setValueModal('choice', 'hourly')">
                        <input type="radio" id="one-option" name="hourly" ng-checked="data.choice === 'hourly'">
                        <label for="one-option">
                            <p class="alert-list-text">Hourly</p>
                        </label>
                        <div class="check"></div>
                    </li>
                    <li class="custom-list" ng-click="setValueModal('choice', 'daily')">
                        <input type="radio" id="two-option" name="daily" ng-checked="data.choice === 'daily'">
                        <label for="two-option">
                            <p class="alert-list-text">Daily</p>
                        </label>
                        <div class="check"></div>
                    </li>
                    <li class="custom-list" ng-click="setValueModal('choice', 'weekly')">
                        <input type="radio" id="three-option" name="weekly" ng-checked="data.choice === 'weekly'">
                        <label for="three-option">
                            <p class="alert-list-text">Weekly</p>
                        </label>
                        <div class="check"></div>
                    </li>
                    <li class="custom-list" ng-click="setValueModal('choice', 'monthly')">
                        <input type="radio" id="four-option" name="monthly" ng-checked="data.choice === 'monthly'">
                        <label for="four-option">
                            <p class="alert-list-text">Monthly</p>
                        </label>
                        <div class="check"></div>
                    </li>
                    <li class="custom-list" ng-click="setValueModal('choice', 'yearly')">
                        <input type="radio" id="five-option" name="yearly" ng-checked="data.choice === 'yearly'">
                        <label for="five-option">
                            <p class="alert-list-text">Yearly</p>
                        </label>
                        <div class="check"></div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>

</div>
<!-- https://github.com/EddyVerbruggen/Calendar-PhoneGap-Plugin -->
