
<ion-modal-view class="modal-2">
  <div class="modal">
    <ion-content>
      <div class="enter-otp">
        <div class="login-step-1 margin-top-40">
          <p class="center size-22 font-titi titi-600 blue-ac">Hi {{data.name}}!</p>
        </div>
        <div class="mid-container-step1 padd-topt-30">
          <div class="create-ac-text">
            <p class="center size-14 font-titi titi-400 lh-22 black-dark">Thank You for Registering!</p>
            <p class="center size-14 font-titi titi-400 lh-22 black-dark">Please enter your mobile number to verify your account</p>
            <p class="center size-14 font-titi titi-400 lh-22 black-dark">A One Time Password (OTP) will be sent to you</p>
            <input class="modal-input margin-top-25" type="number" ng-model="data.mobile" placeholder="">
            <div class="margin-top-15-up">
              <button class="button button-full button-positive custom-step-login " ng-click="onClickEnterMobNo()">
                <p class="font-size-14 font-titi titi-600" >Submit</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-modal-view>
