<ion-modal-view class="modal-2">
    <div class="modal">
        <ion-content>
            <div class="enter-otp-resend">
                <div class="login-step-1 margin-top-40">
                    <p class="center size-22 font-titi titi-600 blue-ac">Hi {{data.name}}!</p>
                </div>
                <form ng-submit="onClickOtpSubmit()"> 
                    <div class="mid-container-step1 padd-topt-30">
                        <div class="create-ac-text">
                            <p class="center size-14 font-titi titi-600 black-dark">Thank you for registering with us!</p>
                            <p class="center size-14 font-titi titi-600 black-dark"> Please enter your One Time Password (OTP) that has been sent on your mobile.</p>
                            <div class="row padd-top-7">
                                <div class="col">
                                    <div class="row">
                                        <div class="col scronecode">
                                            <input type="text" class="input-text" ng-model="data.otp1" tabindex="1">
                                        </div>
                                        <div class="col scronecode">                
                                            <input type="text" class="input-text" ng-model="data.otp2" tabindex="2">
                                        </div>
                                        <div class="col scronecode">
                                            <input type="text" class="input-text" ng-model="data.otp3" tabindex="3">
                                        </div>
                                        <div class="col scronecode">                
                                            <input type="text" class="input-text" ng-model="data.otp4" tabindex="4">
                                        </div>
                                        <div class="col scronecode">                
                                            <input type="text" class="input-text" ng-model="data.otp5" tabindex="5">
                                        </div>
                                        <div class="col scronecode">                
                                            <input type="text" class="input-text" ng-model="data.otp6" tabindex="6">
                                        </div>
                                    </div>
                                </div>                    
                            </div>                    
                            <button class="button button-full button-positive custom-step-submit" type="submit">
                                <p class="font-size-14 font-titi titi-600" >Submit</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </ion-content>  
    </div>
</ion-modal-view>
