<div class="modal" style="height: 40%">
  <ion-header class="bar bar-header bar bar-stable bg-color">
    <h1 class="title">Select Media type</h1>
    <a class="button icon-right icon ion-close button-clear button-dark" href="#" ng-click="closeModal('selectMedia')"></a>
  </ion-header>
  <ion-content>

  </ion-content>
</div>
