<ion-modal-view class="modal-3">
	<div class="modal-3">
		<div class="">
			<a class="float-right" ng-click="closeModal()" href="#"><img ng-src="images/close-btn.png" width="15" height="15"></a>
			<img class="padd-top-10" ng-src="{{threadImage}}" width="100%" height="100%">
			<p class="font-titi titi-400 size-14 white padd-top-10" ng-if="threadBody !='null'">{{threadBody}}</p>
		</div>
	</div>
</ion-modal-view>