<ion-modal-view class="modal-1">
    <div class="modal">
        
        <ion-content>
            <form ng-submit="onClickRegistrationSubmit()"> 
                <div class="create-account padding">
                    <div class="login-step-1">
                        <p class="center size-22 font-titi titi-600 blue-ac">Create Account</p>
                    </div>
                    <div class="mid-container-step1">
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Name</p>
                        <input class="modal-input" type="text" placeholder="" ng-model="data.name">
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Email id</p>
                        <input class="modal-input" type="email" placeholder="" ng-model="data.emailAdd">
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Mobile no.</p>
                        <input class="modal-input" type="tel" placeholder="" ng-model="data.mobile" maxlength="10">
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">City</p>
                        <select class="modal-select-options"  ng-model="data.city" ng-options="item.value as item.name for item in dynamicList.cityList">
                            <option value="" selected="selected">Select</option>
                        </select>

                        <!--<input class="modal-input" type="text" placeholder="" ng-model="data.city">    -->
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Password</p>
                        <input class="modal-input" type="password" placeholder="" ng-model="data.password">
                        <p class="login-text padd-top-10 font-titi size-14 titi-500 black-dark">Confirm Password</p>
                        <input class="modal-input" type="password" placeholder="" ng-model="data.confirmpassword">
                        <div class="padd-topt-15 padd-left-5"> 
                            <input type="checkbox"  id="11-1" class="cb" ng-model="data.termsAndCondition">
                            <label for="11-1" class="cl font-titi titi-400 black-dark size-12 font-italic">I hereby agree to Petbubs 
                                <span class="c-118 text-u"><a href="#">Terms and Conditions.</a></span>
                            </label>
                        </div>  
                       <!-- active btn green color for class (class="custom-step-submit")  used it  -->        
                        <button ng-class=" (data.name.length>0 && data.emailAdd.length>0 && data.city.length>0 && data.mobile.length>0 && data.password.length>0 && data.confirmpassword.length>0 && data.termsAndCondition === true) ? 'button button-full button-positive custom-step-submit-green margin-top-20' : 'button button-full button-positive custom-step-submit-gray margin-top-20' " type="submit" >
                            <p class="font-size-14 font-titi titi-600">Create Account</p>
                        </button>
                    </div>
                </div>
            </form>
        </ion-content>  
    </div>
</ion-modal-view>
