
<ion-modal-view class="modal-1">
  <div class="modal">
    <ion-content>
      <div class="ac-verified padding">
        <div class="login-step-1 margin-top-60">
          <p class="center size-22 font-titi titi-600 blue-ac">Hi Shaziya!</p>
        </div>
        <div class="mid-container-step1 margin-top-37">
          <div class="create-ac-text center">
            <p class="margin-bottom-20 font-titi size-14 titi-400 black-dark">Congratulations Your account has been verified!</p>
            <img src="images/verified.png" width="80" height="80" border="0" alt="">
            <button class="button button-full button-positive custom-step-login-1 margin-top-5">
              <p class="font-size-14 font-titi titi-600" ng-click="modal.hide()">Enter</p>
            </button>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-modal-view>
