 

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  overflow:hidden; overflow-y:auto;
}
.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0 !important;
    left: 0 !important;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 60px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px!important;
    font-weight: 500;
    line-height: 44px;
    font-family: 'Titillium Web';font-weight:600;
    margin-top: 6px;
    width: 60%;
    margin-left: auto;
    margin-right:auto; 
   }

.has-header{top:55px !important;}

/*Find Pet*/
.bar.bar-calm{background-color:#6eb2fb!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-calm .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}


/*Pet Care*/
.bar.bar-pc{background-color:#f4b860!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-pc .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}


/*Pet Needs*/
.bar.bar-pn{background-color:#65d7be!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-pn .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}

/*Pet Party*/
.bar.bar-pp{background-color:#df8de0!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-pp .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}

/*Pet Travel*/
.bar.bar-pt{background-color:#fc956a!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-pt .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}

/*Pet Farewell*/
.bar.bar-pf{background-color:#cccccc!important;
    color: #ffffff!important;
    height:55px !important;
    box-shadow: 0px -1px 9px 0px #000;
}

.bar.bar-pf .title {
    color: #fff;
    margin-top: 6px;
    vertical-align:middle;
}


a{text-decoration:none!important;}
p{margin-bottom:0;}
ul.list{margin-bottom:0px;}


table.ui-datepicker-calendar tbody td.highlight > a {
    background: url("images/ui-bg_inset-hard_55_ffeb80_1x100.png") repeat-x scroll 50% bottom #FFEB80;
    border: 1px solid #FFDE2E;
}

.opacity-slide{width: 100%;
     box-shadow: 0 85px 40px 20px #000;
    height: 0px;
    position: relative;
    bottom: 100px;
    overflow: hidden;
    opacity: 0.7;
}

.overflow-h{overflow: hidden;}

/* fixed-pdding fixed margin */
.padd-top-3{padding-top: 3px;}
.padd-top-4{padding-top: 4px;}
.margin-top-30{margin-top: 30px; }
.padd-top-40{padding-top: 40px;}
.padd-top-59{padding-top: 59px;}
.margin-top-27{margin-top: 27px;}
.padding-15{padding: 15px;}
.padding-10{padding: 10px;}
.padd-top-18{padding-top: 18px;}
.padd-top-15{padding-top: 15px !important;}
.padd-top-57{padding-top: 57px;}
.padd-top-57{padding-top: 57px;}
.padd-zero{padding:0px;}
.padding-right {padding-right:0px}
/*.padding-left{padding-left:0px ;}*/
.padding-top-zero{padding-top:0px !important;}
.padding-bottom-zero{padding-bottom:0px;}
.margin-top-4{margin-top:4px;}
.margin-left-10{margin-left:10px;}
.marg-left-4{margin-left:-4px;}
.marg-left-3{margin-left:-3px;}
.marg-top-10{margin-top:10px !important;}
.marg-top-12{margin-top:12px !important;}
.margin-left-5{margin-left:5px;}
.margin-top-10{margin-top:-10px;}
.padd-left-zero{padding-left:0px !important;}
.padd-right-zero{padding-right:0px !important;}
.margin-top-60{margin-top:60px;}
.margin-top-50{margin-top:50px;}
.padd-right-10{padding-right:10px;}
.padd-left-40{padding-left:40px;}
.padd-left-10{padding-left:10px;}
.padd-left-15{padding-left:15px;}
.padd-left-25{padding-left:25px;}
.padd-left-5{padding-left:5px;}
.padd-right-5{padding-left:5px;}
.padd-bottom-10{padding-bottom:10px;}
.padd-bottom-20{padding-bottom:20px;}
.padd-bottom-6{padding-bottom:6px;}
.padd-top-bottom-10{padding-top:10px;padding-bottom:10px;}
.margin-topt-15{margin-top:15px !important;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-top-20{margin-top:20px !important;}
.margin-top-15-up{margin-top: -15px !important;}
.margin-top-25{margin-top:25px !important;}
.margin-top-24{margin-top:24px;}
.margin-left-right-15{margin-left:15px;margin-right:15px}
.padd-bottom-40{padding-bottom:40px;}
.padd-bottom-50{padding-bottom:50px !important;}
.margin-right-10{margin-right:10px !important;}
.padd-topt-35{padding-top:35px;}
.padd-topt-30{padding-top:30px;}
.padd-topt-50{padding-top:50px;}
.padd-topt-60{padding-top:60px;}
.padd-topt-15{padding-top:15px;}
.padd-topt-20{padding-top:20px;}
.padd-bottom-25{padding-bottom:25px;}
.padd-top-25{padding-top:25px;}
.marg-left-10{margin-left:-10px;}
.marg-left-8{margin-left:-8px;}
.padd-top-5{padding-top:5px !important;}
.padd-top-7{padding-top:7px;}
.padd-top-10{padding-top:10px;}
.margin-top-37{margin-top:37px;}
.marg-top-9{margin-top:9px;}
.marg-top-3{margin-top:3px !important;}
.margin-top-40{margin-top:40px;}
.margin-top-43{margin-top:43px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-left-adoption-7{margin-left:7%;}
.margin-left-22{margin-left: 22px;}
.margin-top-5{margin-top: 5px;}
.margin-bot-1{margin-bottom: 1px;}
.margin-bot-5{margin-bottom: 5px;}
.margin-zero{margin: 0px !important;}
.float-left{float: left;}
.float-right{float: right;}
.center{text-align:center!important;}
.right-align{text-align:right;}
.left-align{text-align:left;}
.top-align{padding: 15px 0 0 16px;vertical-align: middle;float: left;}
.cat-one{float:left;}
.padd-top-65{padding-top: 65px;}
.padd-top-66{padding-top: 66px;}
.marg-left-10p{margin-left:10%; }
.padd-top-1{padding-top: 1px;}
.padd-left-81{padding-left: 81px;}
.padd-left-89{padding-left: 89px;}
.margin-left-15px{margin-left: -15px;}
.margin-left-5px{margin-left: -5px;}
.padding-16-auto{padding:0 16px 0 16px;}
.padd-bottom-4{padding-bottom:4px;}
.margin-top-10m{margin-top: -10px;}
.padd-left-13{padding-left: 13px;}
.padd-left-14{padding-left: 14px;}
.padd-right-15{padding-right: 15px !important;}
.padd-right-20{padding-right: 20px !important;}
.margin-right-20{margin-right: 20px !important;}
.margin-top-5-up{margin-top: -5px;}
.margin-top-1-up{margin-top: -1px !important;}
.margin-left-7{margin-left: 7px;}
.margin-top-zero{margin-top: 0px !important;}
/*.item-select-arrow:after{right: 2px !important;margin-top: -2px !important;top: 12px;
    border-top: 4px solid !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    color: #fff !important;
    }
.item-select-arrow:before{right: 0 !important;margin-top: -2px !important;
    position: absolute;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #585858;
    content: "";
    pointer-events: none;}*/




/* font-size */
.font-titi{font-family:'Titillium Web'; }
.font-size-12-600{font-size:12px !important;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.font-size-12{font-size:12px ;font-family: 'Titillium Web', sans-serif;font-weight:700;}
.font-size-12-400{font-size:12px !important;font-family: 'Titillium Web', sans-serif;font-weight:400;}
.font-size-16{font-size:16px;font-family: 'Titillium Web', sans-serif;font-weight:700;}
.font-size-16-600{font-size:16px;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.font-size-18{font-size:18px;font-family: 'Titillium Web', sans-serif;font-weight:400;}
.font-size-14{font-size:14px;font-family: 'Titillium Web', sans-serif;font-weight:400;}
.font-size-14-600{font-size:14px;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.font-size-20{font-size:20px;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.size-14{font-size: 14px !important;}
.size-16{font-size: 16px !important;}
.size-24{font-size: 24px;}
.size-22{font-size: 22px;}
.size-12{font-size: 12px !important;}
.font-size-3{font-size: 3vw !important;}
.size-10{font-size: 10px !important;}

.min-h-40{min-height: 40px !important;}
/* font-style */
.font-italic{font-style: italic; }

/* font-weight */
.titi-700{font-weight: 700 !important;}
.titi-600{font-weight: 600 !important;}
.titi-500{font-weight: 500 !important;}
.titi-400{font-weight: 400 !important;}
/* line-height */
.lh-15{line-height: 15px;}
.lh-16{line-height: 16px;}
.lh-18{line-height: 18px;}
.lh-19{line-height: 19px;}
.lh-20{line-height: 20px !important;}
.lh-22{line-height: 22px;}
.lh-24{line-height: 24px;}
.lh-25{line-height: 25px;}
.lh-26{line-height: 26px;}
.lh-0{line-height: 0 !important;}
.lh-14{line-height: 14px;}
.lh-38{line-height: 38px;}
.lh-30{line-height: 30px !important;}



.display-none{display: none !important;}

/* buttons */
.new-btn{background-color: #00d2a5;color: #fff;min-height: 24px !important;}
.new-btn:hover{color: #fff !important;background-color: #00d2a5 !important;}
.rply-btn{background-color: #fff;border:1px solid #e0dfe0;min-height: 28px !important;}
.rply-btn:hover{background-color: #fff !important;}
.attach-btn{background-color: #999999;color: #fff;padding: 5px 10px 5px 10px;border:0;border-radius: 5px;height: 40px !important;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: 600;}
.attach-btn:active{border: 1px solid #333333;}
.cancel-btn{border: 1px solid #666666 !important;height: 43px !important;background-color: #fff !important;min-height: 30px;width: 150px;}
.cancel-btn:active{border: 1px solid #999999;}
.attach-btn-pic{background-color: #999999;color: #fff;padding: 5px 25px 5px 25px;border:0;border-radius: 5px;height: 40px !important;font-size: 14px;font-family: 'Titillium Web', sans-serif;font-weight: 600;}
.attach-btn-pic:active{border: 1px solid #333333;}
/* color */
.sign-txt-c{color:#106daa;}
.text-gray{color: #999999 !important;}
.threads-text{color: #666666;}
.light-black{color:#535352;}
.light-grey{color:#7e7e7e !important;}
.white{color:#ffffff!important;}
.purple{color:#995cb3;}
.black{color:#202020;}
.black-dark{color:#000000 !important;}
.black-s2{color:#333333 !important;}
.c-0b0{color: #0b0404;}
.light-grey{color:#494949;}
.blue-ac{color:#095f9b;}
.skyblue{color:#35d4dc!important;}
.post-text{color: #1fa4e6 !important;}
.bg-transparent{background-color: transparent !important;}
.rply-bg{background-color: #f5f5f5 !important;}
.new-thread-bar{background-color: #00d2a5 !important;}
.close-icon{top: 6px !important;right: 10px !important;}
.post-count{color: #40b3d9 !important;}
.text-red{color: #cc0000 !important;}
.calendar-date-text-color{color: rgb(152,152,152);}
.calendar-month-color{color:rgb(66,66,66);}
.post-active{background-color: #c2c9c7;}
.c-1d8{color: #1d8fc7;}
.c-868{color: #868686 !important;}
.pink{color: #ff55a1 !important;}
.c-3cb{color: #3cb7f3;}
.c-s31{color: #535151;}
.c-696{color: #696969;}
.c-919{color: #9197a3;}
.pink-bg{background-color: #ff55a1 !important;}
.c-00d{color: #00d2a5;}
.c-999{color: #999999;}
.c-118{color: #1183d2;}
.c-f30{color: #f30000;}
.bg-fff{background-color: #ffffff;}
.bg-fab{background-color: #fab3b3 !important;}
.cbg-1fa{background-color: #1fa4e6;}
.border-0{border:none!important;border-width: 0 !important;}
.border-top{border-top:1px solid #e0dfe0 !important;}
.border-bottom{border-bottom:1px solid #e0dfe0 !important;}
.border-bottom-black{text-decoration:underline!important; color:#777;}
.border-top-black{text-decoration:underline!important; color:#777!important;}
.border-zero{border:none!important;}
.border-right{border-right:none;}
.text-u{text-decoration:underline;}
.first-letter-cap{text-transform:capitalize;}
.all-letter-cap{text-transform: uppercase;}
.cal-month-name{font-family: 'Titillium Web';font-weight:600;font-size:12px;color:#000000;}
.c-ccc{color: #ccc !important;}
.bg-668{background-color: #668dff;}
/*fixed elements*/
.delete-btn{padding: 0px 53px;color:#cc0000 !important;background-color:#fff !important;margin-top:30px;margin-bottom: 12px;border: 1px solid #666666;}

 /* pet-directory screen1 */

.bg-color{background-color:#ffffff!important;border-color:#ffffff!important;height:55px;    box-shadow: 0px -1px 9px 0px #000;}
 .slider-pager-page{color:#666666 !important;opacity:1 !important;}
 .slider-pager .slider-pager-page{
    font-size: 12px;
    text-align: center;
 }


.bar-1{background-color:#6eb2fb;margin-top:-6px;position:relative;}
.bar-3{background-color:#65d7be;position:relative;}
.bar-4{background-color:#df8de0;position:relative;}
.bar-5{background-color:#fc956a;position:relative;}
.bar-6{background-color:#cccccc;position:relative;}
.bar-2 {background-color:#f4b860;position:relative;}

.list-spacing{font-size: 18px!important;
    line-height: 46px;
    padding-left: 12px;
    color:#0b0404!important;
    font-family: 'Titillium Web';
    font-weight:400;
    }

.slider-pager{position: absolute;
    bottom: 18px;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
    }

.custom-directory{padding: 6px !important;}
.directory-chevron{font-size:14px!important;}

.slider-pager .slider-pager-page.active{color: #ffffff !important;
    border-radius: 100px;
    font-size: 12px;
    text-align: center;
    height: 14px;
    width: 14px;
     position: relative;
   }   


.pawn-icon{float:left;margin-left:10px;    height: 30px;margin-top: 9px;}

.head-bar-color{color:#ffffff;font-size:20px;margin-left:12px;font-family: 'Titillium Web', sans-serif;font-weight:700;margin-top:5px!important;}

.list-bar-title{color:#0b0404;font-family: 'Titillium Web', sans-serif;font-weight:700;}

/* Adoption agencies listing screen-2 */
.s2-background{background-color:#e7e7e7}
.font-size-14-s2{font-size:14px;font-family:'Titillium Web';font-weight:400;}
.font-size-14-s2-700{font-size:14px;font-family:'Titillium Web';font-weight:700;}

.telephone ul {overflow:hidden;width:100%;}
.telephone ul li {float:left;}

.adoption-container-s2-1{background: white;
                        margin-left: 10px;
                        margin-right: 10px;
                        border: 3px solid #E9E9E8;
                        padding-bottom: 15px;
                        }

.adoption-container-s2-2{  
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px !important;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px #bbb; 
}
.adoption-call > ul > li {display: block;float: left;margin: 0 11px  0 0;height: 45px;}
.ion-search:before{font-size:24px!important;line-height: 42px!important;}
.ion-chevron-left:before{font-size:24px!important;line-height: 42px!important;}
.ion-chevron-right:before{font-size:24px!important;line-height: 42px!important;}
.first-name-text{color:#dd3a70;font-family:'Titillium Web';font-size:14px;font-weight:400;margin-top:4px}
.name-text{color:#dd3a70;font-family:'Titillium Web';font-size:16px;font-weight:700;}
.name-bottom-pad{padding-bottom:6px;}
.margin-left-10-s2{margin-left:10px;}
.margin-top-10-s2{margin-left:-10px;}
.adoption-agencies-number{width:100%; overflow:hidden;}
.mail-section{height: 50px;vertical-align: middle;}
.padd-left-5-s2{padding-left:5px;}
.star{padding-top: 2px;}
.ion-ios-location {
    font-size: 26px;
    color: #999999;
    margin-left: 10px;
    margin-top: 1px;
    margin-right: 4px;
    }
.address-row{width: 100%;display:inline-table;}
.ion-ios-location:before {color: #cccccc;}
/*.ion-ios-location:hover{color:red!important;}*/
.link-color{color:#87818a!important;font-size:14px;padding-left:8px;font-family: 'Titillium Web'}
.left{float:left;}
.padding-right-icon{padding-right:12px;}
.color-alink{color:#cccccc!important;font-family: 'Titillium Web';font-weight:400;padding: 0 0 0 10px;}
/*.ion-ios-telephone:hover{color:green!important;}
.ion-email:hover{color:black!important;}
.ion-ios-world-outline:hover{color:blue!important;}*/
.text-align-left{text-align:left !important;}
.text-align-right{text-align:right;}
.valign-mid{vertical-align:middle;}
.valign-bot{vertical-align:bottom;}
.display-block{display:block !important;padding-top:2px;}
.ion-ios-star{color:#ffffff;margin-left:6px;}
.rate-box{height: 22px; width: 50px;background-color:#00d2a5;border-radius:4px;margin-top:-2px;position: absolute;right: 22px;}
.rate{color:#ffffff;margin-left:5px;margin-top:4px;}

/*bhupesh classes */
.background-color-adoption{background-color:#e7e7e7; padding-top:1px; padding-bottom: 10px;background-size: 100% 100%;}


.ion-ios-telephone:before {
    font-size: 28px;
    vertical-align:  middle;
    color: #999999;
}

.ion-email:before {
    font-size: 28px;
    vertical-align: middle;
    color: #999999;
}

.ion-ios-world-outline:before {
    font-size: 28px;
    vertical-align: middle;
    color: #999999;
}


/* Add-event-detail and Add-event */ 

.mid-container{margin-top:20px;padding-left:10px;padding-right:10px;}
.mid-container-2{margin-top:10px;padding-left:10px;padding-right:10px;}
.mid-container-calendar{padding-left:10px;padding-right:10px;}
.category-image-align{position: relative;left: 8%;}
.category-text-align{position: relative;left: 3%;}
.category-image-two-align{position: relative;right: 7%;}
.category-text-two-align{position: relative;right: 7%;}
.pet-select{width:100%;height:30px;padding-left: 6px;border-radius:8px;}
.font-size-14-cat{font-size:14px;font-family: 'Titillium Web', sans-serif;font-weight:400;}
.calendar-year-arrows{background-size: 8px !important;
    background-position: 0px 2.5px !important;}  


    input.date-inputs{width: 36px;
    border: 1px solid #b7b6b6;
    margin-left: 0px;
    text-align: center;
    border-radius:8px;
    margin-left:-10px;
     -webkit-appearance: none;}

input.date-inputs-year{width: 60px;
    border: 1px solid #b7b6b6;
    margin-left: 0px;
    text-align: center;
    border-radius: 8px;
    margin-left: -32px;
    margin-top: 5px;
     -webkit-appearance: none
}
input.date-inputs-07{width: 38px;
    border: 1px solid #b7b6b6;
    margin-left: 0px;
    text-align: center;
    border-radius: 8px;
    margin-left: -24px;
     -webkit-appearance: none;}

 input.date-inputs-sec{width: 36px;
border: 1px solid #b7b6b6;
margin-left: 0px;
text-align: center;
border-radius:8px;
margin-left:-22px;
 -webkit-appearance: none;}

input.date-box-new{width: 105px!important; 
            border: 1px solid #b7b6b6;
            /*text-align: ;*/
            border-radius:8px;
            -webkit-appearance: none;background-color: #fff;}
input.date-box-new-1{width: 115px!important; 
            border: 1px solid #b7b6b6;
            /*text-align: ;*/
            border-radius:8px;
            -webkit-appearance: none;background-color: #fff;}

.alert-buttons{padding-top:15px;}
input.details{border:1px solid #b2b1b1 ;width:100%;border-radius:8px; padding-left:5px!important; -webkit-appearance: none;}
/*(add-event-details-v5.html border color replace to new-therad-v2.html--because border-color should be comman in all textarea and textfeed )*/      
.select-list{-webkit-appearance: none;}
.cross{padding-top:30px;background-color:none;}
img.cross:hover{color:red!important;}
.screen-3{padding: 0px 80px;color:#00d1a5;background-color:#00d1a5!important;margin-top:38px;margin-bottom: 12px;}
.button button-positive-custom{color:#00d1a5}
.checkbox-square{border:none;}
input.item-select {text-align:left;}
.border-radius-5{border-radius: 5px;}
.v-align-bottom{vertical-align: bottom;}
.save-button{font-size:18px ; color:#ffffff;font-family: 'Titillium Web' ;font-weight: 400;}
.category-text{color:#535352;font-size:16px;font-family: 'Titillium Web';font-weight:600;padding-top:10px;padding-bottom:10px;vertical-align: top;}
.category-text-top{color:#535352;font-size:18px;font-family: 'Titillium Web';font-weight:400;padding-top:15px;}

.category-name{color:#535352;font-size:14px;font-family: 'Titillium Web';font-weight:600;}
.font-size-10{font-size:10px;font-family: 'Titillium Web', sans-serif;font-weight:700;font-weight:400;}

/* calendar */
.plus-circled{height:30px;}
.calendar-image{margin-top: 42px;}
/*.{padding-left:100px!important;}*/
.custom-chev{margin-top: -10px;}
.calendar-upcoming{color:#494949;}
.custom-icon-chevron {
    font-size: 30px;
    color: #bbbbbb;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: sub;}

.custom-icon-chevron:hover{color:#000}
.up-event{float:left;margin-right: 5px;margin-left: 10px;margin-top: 6px;}

.md-close-circle:hover{color:red;}
.event-scroll{margin: 0 -1000em; padding: 0 1000em;}

.event-border{border-right:1px solid #e0dfe0;}
.up-name-date{font-size:12px;color:#000000; font-family: 'Titillium Web';font-weight:700;}
.up-event-name{text-align:center;}

.up-day-act{font-size:11px;font-family: 'Titillium Web';font-weight:500;color:#000000;line-height:12px;}

.today-text{border: 1px solid red;
    border-radius: 6px;
    /* margin-left: 8px; */
    font-family: 'Titillium Web';
    font-weight: 400;
    color: #060303;
    width: 80%;
    margin: 0 auto;
}
.color-date{color:#494949!important}

.a-plus {
 position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 60px;
    color: #65d7be;
    z-index:111;
}

/* custom checkbox */

input[type=checkbox].css-checkbox   {
                                    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
                                    }

        input[type=checkbox].css-checkbox + label.css-label {
            padding-left:35px;
            height:25px; 
            display:inline-block;
            line-height:25px;
            background-repeat:no-repeat;
            background-position: 0 0;
            font-size:25px;
            vertical-align:middle;
            cursor:pointer;

        }

        input[type=checkbox].css-checkbox:checked + label.css-label {
            background-position: 0 -25px;
        }
        label.css-label {
background-image:url("../images/checkbox.png");
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



/* article-screen */
.article-image{margin-top: 42px;}
.bookmark{float:right;text-align:right;}
.right-align-tag{float:right;margin-left:5px;margin-right:5px;}

.time-hover{background:url("../images/time-icon-shade.png");background-repeat:no-repeat;background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20px;
    padding: 0 0 0 20px;
    height: 20px;}

.pet-hover{background:url("../images/news-heart.png");background-repeat:no-repeat;background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: 100% 100%;
    width: 20px;
    padding: 0 6px 0 14px;
    height: 20px;}

.share:hover{background:url("../images/share-dark.png");background-repeat:no-repeat;
    background-size: contain;
    background-position: center center;
    width: 20px;
    padding: 0 0 0 20px;
    height: 20px;}

.article-content{padding-left:10px;padding-right:10px;}

.article-text{color:#4d4d4d!important;font-family:'Titillium Web';font-weight:700;font-size:16px;line-height: 18px;margin-bottom: 12px;}
.para-text{font-size:14px;font-family: 'Titillium Web', sans-serif!important;font-weight:400;color:#4d4d4d;text-align:justify;line-height:20px;}
.author{color:#45578a;font-size:14px;font-family:'Titillium Web';font-weight:700;line-height: 20px;}
.article-date{color:#4d4d4d;font-size:13px;font-family:'Titillium Web';font-weight:600;}

/* bookmark-screen */
.bookmark-bg{background-image:url("../images/bg-bookmark.png");background-repeat:no-repeat;background-size: 100% 100%;}
.list-text{color:#070707!important;font-family:'Titillium Web';font-weight:700;font-size:16px!important;line-height:16px;}
.inner-text{color:#4d4d4d!important;font-family:'Titillium Web';font-weight:400;font-size:14px!important;line-height:16px;margin-top: 4px;}
pre{line-height: 16px;font-family: 'Titillium Web', sans-serif;}
    /* pet-news */
.pet-news-bg{background-image:url("../images/bg-bookmark.png");background-repeat:no-repeat;background-size:cover;margin-top:-6px;    padding-bottom: 8px;}
.more{color:#24acd9;font-size:12px!important;font-family:'Titillium Web';font-weight:400;font-style:italic;}
.custom{padding:0px!important;margin-bottom: -5px;border:none;position:relative;}
.slide-width{width:100%;}
.wrap-text{margin-top:4px;margin-left: 4px;}
.video{height:55px;
    position: absolute;
    right: 45%;
    bottom: 122;
    top: 30%;
    }
.pet-display-text{display:block}

.pre-text{ margin-top: -4px;    margin-left: 4px;
}

 .thumb-pic > img{ top: 4px!important;
    left: 4px!important;
    max-width: 114px!important;
    max-height: 92%!important;
    width: 100%;
    }

.thumb-pic{padding-left:120px!important;border-radius:8px;padding-top: 0px;padding-right: 10px;}


/* dr.screen */

.dr-bg-one{background:url("../images/dr-bg-1.png");background-repeat:no-repeat;height:300px;width:100%;margin-top:50px;background-size:cover;background-size:100% 100%;}
.dr-bg-two{background:url("../images/cat-bg-1.png");background-repeat:no-repeat;height:300px;background-size:cover;background-size:100% 100%;margin-top:10px;}

 .right-dr-buttons{padding-top: 82px;}
  .left-dr-buttons{padding-top: 50px;}



.custom-dr-button-one{width: 94px;height: 30px;background-color:#fa7394;color:#ffffff;}
.custom-dr-button-two{width: 94px;height: 30px;background-color:#9958e6;color:#ffffff;}
.custom-dr-button-three{width: 94px;height: 30px;background-color:#35d4dc;color:#ffffff;}

.dr-button-inner-text{font-family:'Titillium Web';font-weight:600;font-size:14px;}


/* add alert */
.border-top-left-right-none{border-top:none;border-left:none;border-right:none;}
.alert-list-text{font-family:'Titillium Web';font-weight:600;font-size:16px !important;color:#7c7b7b !important;    margin-left: -8px;padding-top: 2px;}
.mid-container-add-alert{margin-top:25px;padding-left:10px;padding-right:10px;}

/* add repeat */ 
input.date-inputs-year-repeat{width: 60px;
    border: 1px solid #b7b6b6;
    margin-left: 0px;
    text-align: center;
    border-radius: 8px;
    margin-left: -32px;
   
     -webkit-appearance: none
}

.custom-repeat-button{height: 43px!important;
    background-color: #00d2a5!important;
    min-height: 30px;
    width: 150px;
}

.custom-repeat-button-one{height: 43px!important;
    background-color: #b4b4b4!important;
    min-height: 30px;
    width: 150px;
}
.repeat-screen-buttons{margin-top:30px;
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom:10px;}

.button-left{float:left}
.button-right{}



/* Login Page*/
input.details-login-main::-webkit-input-placeholder{color: #fff !important;}
input.details-login-main{border:1px solid #b2b1b1;width:100%;border-radius:8px; padding-left:10px!important;background:#106eab;height:40px;color:#ffffff!important;}            
.login-container{padding-left:50px;padding-right:50px;}
.radius{border-radius:8px;margin-top:28px!important;}
.login-blue{background-color:#106daa;border:1px solid #d8e8e8;padding: 0px 0 0px 14px;}
input.login-inner-text{color:#ffffff!important;font-size:14px;font-family:'Titillium Web';font-weight:600;margin-top:30px;}
.social-icons a {border: 1px solid #949792;border-radius: 50%;color: #106daa;display: inline-block;height: 44px;margin-left: 15px;margin-right: 15px;padding: 6px 0 0px 0px;width: 44px;background: #ffffff;}
.social-icons a:hover {border: 1px solid #fff;color: #106daa;}
.ion-social-facebook:before {content: "";font-size: 34px;}
.ion-social-twitter:before {content: "";font-size:30px;}
.ion-social-googleplus:before {content: "";font-size: 32px;}
.login > img{width: 100%; height: 100%;}
.social-icon-list{float:left;}
.sign-up{padding-top: 10px;}

/************login-step1***********/
.font-size-step1{font-size:24px;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.font-size-14-600-create-ac{font-size:14px;font-family: 'Titillium Web', sans-serif;font-weight:600;color:#000000;}
.mid-container-step1{padding-left:12px;padding-right:12px;}
input.details-login{border:1px solid #b2b1b1 ;width:100%;border-radius:5px; padding-left:5px!important;background:#f4f2f2;height:40px;}         
.custom-step-login{background:#00d1a5!important;border-radius:5px;border:1px solid #00d1a5;margin-top:35px!important;height: 40px;min-height: 40px;line-height: 35px;}
.custom-step-one{background:#00d1a5!important;border-radius:12px;border:1px solid #00d1a5;margin-top:20px!important;}
.otp{color:#095f9b;margin-top:10px;font-family: 'Titillium Web', sans-serif;font-weight:400;}
.lh-35{line-height: 35px!important;}
.mid-container-loading{padding-left:10px;padding-right:10px;margin-top:50%}
.fetch{font-size:16px;font-family: 'Titillium Web', sans-serif;font-weight:600;color:#6b6b6b;margin-top:30px;margin-left: 76px;}
.load{margin-top: 30px;}


/* main section*/
.dog-icon-layer{background:url("../images/dog-icon-layer.png");background-repeat:no-repeat;background-size:cover;height:80px;}
.dog-icon-layer > img{width: 30px;height: 25px;margin-top: 15px;}
.main-section-container-two{width:100%;margin-bottom:3px;overflow: hidden;}
.bg-left{width:50%;float:left;}
.pet-directory-layer{background:url("../images/pet-directory-layer.png");background-repeat:no-repeat;background-size:cover;height:80px;}
.pet-directory-layer > img{width: 26px;height: 24px;margin-top: 20px;}
.bg-right{width:49%;float:left;height:80px;margin-left: 3px;}
.pet-cal-layer{background:url("../images/pet-cal-layer.png");background-repeat:no-repeat;background-size:cover;height: 80px;}
.pet-cal-layer > img{width: 25px;height: 24px;margin-top: 20px;}
.bub-hub-layer{margin-top: -1px;}
.main-section-container-three{width:100%;}
.bg-left-three{width:50%;float:left;}
.drbubs-layer{background:url("../images/drbubs-layer.png");background-repeat:no-repeat;height:80px;background-size:cover;}
.drbubs-layer > img{width: 35px;height: 25px;margin-top: 20px;}
.bg-right-three{width:49%;float:left;margin-left: 3px;}
.news-layer{background:url("../images/news-layer.png");background-repeat:no-repeat;height:80px;background-size:cover;}
.news-layer > img{width: 36px;height: 26px;margin-top: 20px;}
.bottom-bg-main-section{margin-top:3px;}
.pet-logo-main{ margin-top: 4px;text-align:center!important;}
.main-section-container-last{width:100%;margin-top: 3px;float: left;}
.bubtalk-layer{background:url("../images/bubtalk-layer.png");background-repeat:no-repeat;height:80px;background-size:cover;}
.bubtalk-layer > img{width: 30px;height: 25px;margin-top: 15px;}
.main-section-right-bar{width: 78px !important;height: 24px;padding: 0 12px 0 0px!important;border: 0;text-align: right;}
.highlight{text-align:right!important;}
.btn-drop{border: 0 !important;background-color: #fff !important;}
.btn-drp-p{padding: 0 !important;color: #585858;}
.select-drop-btn{border: 0;-webkit-appearance: none;background-color: #fff;direction: rtl;margin-right: 10px;}

.item-select-arrow:before{right: 0 !important;margin-top: -2px !important;
    position: absolute;
    top: 12px;
    width: 10px;
    height: 8px;
    background:url("../images/select-drop-icon.png")no-repeat;
    color: #585858;
    content: "";
    pointer-events: none;
    background-size: contain;    
}





.mid-container-veterinary {
    margin-top: 46px;
    padding-left: 10px;
    padding-right: 10px;
}


.tabs{ margin-top: 65%;}

.width-fix{width:100;}

.breathing-top-color{background-color:#66ccff!important;}
.breath-para{color:#7c7c7d;font-family: 'Titillium Web', sans-serif;font-weight:400;font-size:14px;}
.mid-container-breath-article{margin-top:5px;padding-left:10px;padding-right:10px;}


/* bub hub*/

input.first-login {
    border-bottom: 1px solid #7f7f7f!important;width: 100%;font-family: 'Titillium Web', sans-serif;font-weight:400;font-size:16px;margin-top: 14px;}

.profile-box{width:75px;height:75px;background-color:#d1cecf;border-radius:10px;}
.ion-plus:before {
    content: "";
    padding-top: 32%;
    font-size: 25px;
}

.status-text{border:1px solid #a5a9a8;border-radius:6px;resize:none;overflow-y:hidden;}


/*dr bubs symptoms cat*/
.mid-container-drbub{padding-left:10px;padding-right:10px;padding-top:10px;text-align: left;}
.drbub-header-cat{background:#d1f0ff;border:none;height:32px !important;background:#b2f1e4;padding: 6px;}
.header-text{font-family: 'Titillium Web', sans-serif;font-weight:600;font-size:16px!important;color:#333333!important;}
.text-inner-dr-bubs{font-size:14px!important;font-family: 'Titillium Web', sans-serif;font-weight:400;color:#0b0404!important;line-height: 25px;}
.pet-symptom{float:left;margin-right:25px;margin-top:6px;}
.inner-text-dr-bub{margin-top: 10px;font-family: 'Titillium Web', sans-serif;font-weight:400;color:#0b0404!important;line-height: 25px;font-style:italic;}
.dr-bub-chev{font-size: 18px!important;color:#828282;}
.custom-dr-button-one:hover{}
/*dr bubs symptoms dog*/
.drbub-header-dog{background:#d1f0ff;border:none;height:32px!important;background:#b2f1e4;padding: 6px;}


.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee;  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 4px 4px; }
.tab a { font-size: 16px; line-height: 2em; display: block; padding: 0 10px; outline: none;font-weight: 400; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-bottom: 40px; position: relative; top: 1px; border-color: #666;}
.tab a.active { font-weight: 700; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

.first-tab{background-color:#66ccff;width: 100px;text-align: center;font-family: 'Titillium Web', sans-serif;font-weight:600;    border-radius: 6px;}
.second-tab{background-color:#00d2a5;width: 100px;text-align: center;font-family: 'Titillium Web', sans-serif;font-weight:600;    border-radius: 6px;}

.first-tab.active{background-color:#66ccff;border-bottom:1px solid #66ccff;margin-right: 15px;}
.second-tab.active{background-color:#00d2a5;border-bottom:1px solid #00d2a5;margin-left: 15px;}

.border-blue{border-top:1px solid #66ccff;border-width:3px;}
.border-green{border-top:1px solid #00d2a5;border-width:3px;}

.tab-about {width: 100%;
    margin: 0 auto;
    text-align: CENTER;
}







/*flex calendar*/

.year-width{width: 34px;}

.flex-calendar {
  width: 100%;
  min-height: 10px;
  color: rgb(66,66,66);
  font-weight: 600;
  
}

.flex-calendar .month {
  position:relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  box-shadow:0px 11px 11px 1px #eeeeee;
  padding: 0 15px;
}

.flex-calendar .month .arrow,
.flex-calendar .month .label{

  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  line-height: 10px;
  font-size:4vw;
  text-align: center;

}

.flex-calendar .month .arrow {
 width: 150px;
    box-sizing: border-box;
    background: url('../img/bk_arrow.png') no-repeat;
    background-size: 12px 19px;
    background-origin: content-box;
    padding: 19px 22px 3px 9px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 24px
}
.flex-calendar .month .arrow-next {
 width: 150px;
    box-sizing: border-box;
    background: url('../img/bk_arrow_right.png') no-repeat;
    background-size: 12px 19px;
    background-origin: content-box;
    padding: 19px 18px 3px 9px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 24px
}

.flex-calendar .month .arrow-year {
    box-sizing: border-box;
    background: url('../img/bk_arrow.png') no-repeat;
    background-size: 18px 23px;
    background-origin: content-box;
    padding: 0px 17px 4px 0px;;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 24px
}


.flex-calendar .month .arrow-next-year {
    box-sizing: border-box;
    background: url('../img/bk_arrow_right.png') no-repeat;
    background-size: 18px 23px;
    background-origin: content-box;
    padding: 0px 8px 0px 10px;;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 24px
}


.flex-calendar .month .arrow:last-child {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.flex-calendar .month .arrow.visible{
  opacity:1;
  visibility: visible;
  cursor: pointer;
}
.flex-calendar .month .arrow.hidden{
  opacity:0;
  visibility: hidden;
  cursor: default;
}
.flex-calendar .week,
.flex-calendar .days {
  line-height: 230%;
  font-size: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-calendar .days {
  background-color: #FFF;
  box-shadow:0px 11px 11px 1px #eeeeee;
}

.flex-calendar .week {
  background-color: #fff;
  border-top: 3px solid rgb(221, 221, 221) !important;
}

.flex-calendar .week .day{
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-width: 14.187%;
  text-align: center;
  font-family: "Titillium bd";
}

.flex-calendar .days .day{
  font-size: 10px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-width: 14.187%;
  text-align: center;
  height: 35px;
  font-family: "Titillium Lt";
  line-height: 35px;
}

.flex-calendar .days .day{
    min-height: 20px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #e0dfe0 ;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.flex-calendar .days .day.out {
 
}

.flex-calendar .days .day.today,
.flex-calendar .days .day.disabled.today{
  color: #FFB835;
  border: 1px solid;
}

.flex-calendar .days .day.selected .number { /*changed*/
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    display: inline-block;
    line-height: 25px;
}
.flex-calendar .days .day.istoday .number { /*changed*/
    height: 25px;
    border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    display: inline-block;
    line-height: 25px;
}
.flex-calendar .days .day.event .number span{ /*changed*/
    height: 21px;
    border-radius: 50%;
    width: 21px;
    display: inline-block;
    line-height: 22px;
    position: relative;
    top: -1px;
}

.flex-calendar .days .day:not(.disabled):not(.out){
  cursor: pointer;
}

.flex-calendar .days .day.disabled {
    border: none;
}

.flex-calendar .days .day.disabled .number {
  background-color: #EFEFEF;
  background-image: url('data:image/gif;base64,R0lGODlhBQAFAOMAAP/14////93uHt3uHt3uHt3uHv///////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAFAAUAAAQL0ACAzpG0YnonNxEAOw==');
}

.flex-calendar .days .day.event {
    line-height: 35px;
    color: #FFFFFF;    
}

.flex-calendar .days .day.selected.event .number {
  /*background-color: #;*/
 }

.bottomBorderhide
{
border-bottom: 1px #fff;
border-top: 2px solid #ddd;
}


/*  custom */
.day.event .number {
    padding-right: 0px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

/*  owl-carousel.css */
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*  owl-theme.css */
/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    text-align: center;
    /*margin-top: -25px;
    background-color: #050505;
    height: 31px;
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    opacity: 1;
    bottom: 4px;}
 .owl-controls:after{
    content: '';
    position: absolute;
    left: 0;
    top: -26px;
    width: 100%;
    height: 183%;
    display: inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 57%,rgba(0,0,0,4.8) 94%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(160%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, rgba(255,255,255,0) 70%,rgba(0,0,0,0.65) 10%)*/
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 13%,rgba(0,0,0,4.8) 240%) ;/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 57%,rgba(0,0,0,4.8) 94%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 57%,rgba(0,0,0,4.8) 94%); /* IE10+ */
  /*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin-top: 5px;
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    /*opacity: ;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    background-color:Blue;
    border:2px solid #ffffff;
    
}

/* If PaginationNumbers is true */
.owl-pagination{margin-top: -26px;}
.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

/*add repeat checkbox*/
.add-repeat-checkbox  ul  li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
    
}

.add-repeat-checkbox  ul  li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.add-repeat-checkbox  ul  li > label{
  display: block;
  position: relative;
  font-weight: 300;
 padding: 20px 16px 20px 50px;
  margin: 10px auto;
     height: 58px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}


.add-repeat-checkbox  ul  li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 2px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.add-repeat-checkbox  ul  li:hover .check {
  border: 5px solid ;
}

.add-repeat-checkbox   ul  li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.add-repeat-checkbox   input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

.add-repeat-checkbox   input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}


  @media (max-width: 680px) {
  .mymodal {  
     width: 90%; 
     top: 50%; 
     left: 5%; 
     right: 5%; 
     bottom: 5%;
     z-index: 151;
  }
}
 

/*###############add-event##################*/
.dropdown-arrow:after{border-top: 6px solid;border-right: 3px solid transparent;border-left: 3px solid transparent;color: #565654;margin-right: -7px;}
.dropdown-arrow-1:after{border-top: 6px solid;border-right: 6px solid transparent;border-left: 6px solid transparent;color: #000;}
input.date-time-pick{outline:none;width: 61%;padding: 0 !important;margin: 0 2.5px 0 0 !important;height: 20px !important;background-color: #fff !important;text-align: right !important;font-family: 'Titillium Web';font-size: 14px !important ;font-weight: 500;color: #565654  !important; }
.add-alert-dropdown{width: 80%;float: right;}
.border-none{border: 0;outline: none;}
.dropdown-heading{ right: auto !important;margin-left: -18px;direction: ltr !important;}
.alert-heading-dropdown{padding: 0 17px 0 0 !important;font-family: 'Titillium Web';font-size: 14px !important ;font-weight: 500;color: #565654  !important; }
.add-event-menu{height: 20px;vertical-align: middle;border-bottom: 1px solid #e0dfe0;overflow: hidden;margin: 0;padding:16px 0 34px 0;}
.dropdown-arrow:before{}
.dropdown-label{padding: 11px;}
.dropdown-static{margin: -11px 0 -14px 0px;}

/*###############add-event##################*/

.platform-ios .date-time-pick {
  -webkit-appearance:none;
}
.modal-1{display: block;
    position: absolute;
    top: 60px;
    z-index: 10;
    overflow: hidden;
    min-height: 80%;
    width: 90%;
    height: 80%;
    background-color: #fff;left: 5%;
    right: 5%;
    border-radius: 10px;
}


.header-btn{min-width: 55px !important;
    height: 30px;
    top: 12px !important;
    right: 12px !important;
    padding: 0 0 10px 0 !important;
    line-height: 32px !important;color: #000000 !important;
    border-color: #666666 !important;
   cursor: pointer;
    -webkit-appearance: button;}   
 .item-border{border-top: none;border-right: none;border-left:none;padding: 15px 0 10px 0;margin: 0;}    
 .item-list-icon{
    margin: 0 8px 0 8px;}
    .category-img-list{vertical-align: middle;padding: 0 5px 0 0;margin: -5px 0 0 0;}
    .category-p{}
    .category-block{padding: 12px 0 3px 0;  }

/*###############edit-event-details-r##################*/
.edit-disabled{background-color:#e8e8e8 !important;border:none;color: #ffffff !important;}
.edit-details-box{height:90px;border:1px solid #e0dfe0 ;width:100%;border-radius:8px; padding-left:5px!important; -webkit-appearance: none;margin-bottom:15px;overflow: hidden;}
.edit-details-inner-text{width:100%;height:100%;resize:none;padding-top: 5px;}

/*bub-talk*/
.ion-navicon{padding: 6px 0 0 5px !important;}
.video-player{height:55px;position: absolute;right: 44%;bottom: 122px;top: 40%;}
.bub-header-img-section{width: 100%;position: relative;overflow: hidden;}
.bub-talk-content{padding: 5px;}
.img-icon{padding: 7px; top:8px !important;max-width: 55px !important;max-height: 55px !important;}
.icon-bg-1{background-color: #66ccff !important;}
.icon-bg-2{background-color: #c85468 !important;}
.icon-bg-3{background-color: #ffa16f !important;}
.icon-bg-4{background-color: #f8d095 !important;}
.bubtalk-right-arrow{float: right;color: #828282;font-size: 30px;padding-top: 5px;}
.close-btn{color: #fff;position: absolute;top: 10%;right: 8%;font-size: 30px;cursor: pointer; }
.threads-bar{height: 55px;box-shadow: 0px -1px 9px 0px #000;border-bottom: 1px solid transparent;color: #fff;}
.bar{background-size: 100% 0!important;}
.static-threads-bar{background-color: #f2f0f0;height: 83px;overflow: hidden;}
.static-threads-bar-1{background-color: #f2f0f0;height: 100px;overflow: hidden;}
.chat-icon{top:8px !important;max-width: 55px !important;max-height: 55px !important;margin-left:20px;}
.left-center{display: inline-block;vertical-align: top;padding: 18px 0 0 15px;width: 170px;text-align: left;}
.col-left-center{text-align: left;}    
.post-profile > img{max-width: 60px !important;max-height: 60px !important;top: 12px !important;}
.comment-profile > img{max-width: 60px !important;max-height: 60px !important;top: 20px !important;left: 15px !important;}
.under-review-profile > img{max-width: 60px !important;max-height: 60px !important;top: 15px !important;}
.post-body{padding:0 50px 15px 88px;border-top: 0 !important;border-left: 0 !important;border-right: 0 !important;}
.comment-btn{padding: 1px 0 15px 16px;overflow: hidden;}
.rply-post-box-1{background-color: #f5f5f5;overflow: hidden;}
input.rply-box{width: 100%;}
.rply-box{border: 1px solid #e0dfe0 !important;border-radius: 8px;float: left;line-height: 13px !important;height: 30px !important;padding-left: 10px !important;}
.post-btn{min-height: 30px !important;float: right;border-radius: 5px !important;margin: 0 15px 0 0;background-color: #00d2a5;color: #fff;width: 80%;}
.post-btn:hover{color: #fff !important;background: #00d2a5;}    
.thread-title{border: 1px solid #e0dfe0 !important;border-radius: 8px;width: 100%;float: left;line-height: 12px !important;height: 35px !important;padding-left: 10px !important;}
.thread-msg{height: 100px !important;resize:none;padding-top: 10px;}
.rply-post-box {position: relative;background: #fff;border-top: 1px solid #cccccc;margin: 0 16px 0 16px;padding-top: 1px;}
.rply-post-box:after, .rply-post-box:before {top: -1px;left: 20px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;z-index: 3;}
.rply-post-box:after {border-color: rgba(255, 255, 255, 0);border-top-color: #fff;border-width: 8px;margin-left: -8px;}
.rply-post-box:before {border-color: rgba(204, 204, 204, 0);border-top-color: #cccccc;border-width: 10px;margin-left: -10px;}
.rply-post-box-1 {position: relative;border: 1px solid #fff;margin: 0 16px 25px 16px;padding:0 10px 0 16px;}
.rply-post-box-1:after, .rply-post-box-1:before {top: 0px;left: 20px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;z-index: 3;}
.rply-post-box-1:after {border-top-color: #fff;border-width: 8px;margin-left: -8px;}
.rply-post-box-1:before {border-top-color: #fff;border-width: 10px;margin-left: -10px;}
.gallary-img{text-align: center;position: relative;width: 32%;height: 100%;display: inline-table;float: left;margin: -3px 2px 1px 2px;}
.gallary-img > img{width: 100%; height: 100%;}
.gallary-close{position: absolute;top: 8px;right: 8px;width: 15px;height: 15px;}
.under-review{background-color: #fff5e1; }
.gallary-img-block{width: 100%;overflow: hidden;}
.ion-close:before{font-size:20px!important;line-height: 42px!important;}

/*login-forgot-reset password-form*/
input.password-input::-webkit-input-placeholder{color: #000 !important;}
input.password-input{border:1px solid #a3aaaa;width:100%;border-radius:5px; padding-left:10px!important;background:#f4f2f2;height:40px;color:#000 !important;}            
.input-container{padding:0 25px 0 20px; }
.p-submit-btn{background-color: #c1c1c1 !important;min-height: 38px !important;margin-top: 35px !important;height: 40px !important;border-radius:5px !important;line-height: 30px !important}
.p-submit-btn-active{background-color: #00d1a5 !important;}
.modal-2{display: block;position: absolute;top: 60px;z-index: 10;overflow: hidden;min-height: 60%;width: 90%;height: 60%;background-color: #fff;left: 5%;right: 5%;border-radius: 10px;}
.custom-step-login-1{background:#00d1a5!important;border-radius:5px;border:1px solid #00d1a5;height: 40px;min-height: 40px;line-height: 35px;margin-top: 20px !important;}
.modal-open .modal, .modal-open .modal-backdrop{pointer-events: auto;}
.modal-backdrop.active {background-color: rgba(0, 0, 0, 0.8) !important;}
.modal-backdrop {
    -webkit-transition: background-color 300ms ease-in-out !important;
    transition: background-color 300ms ease-in-out !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
input.modal-input{border:1px solid #dadada ;width:100%;border-radius:5px; padding-left:5px!important;background:#f4f2f2;height:40px;}   
/*login-forgot-reset password-form*/

/* ----social-media------- */
.post-msg{height: 150px !important;resize:none;padding-top: 10px;}
.custom-repeat-button-1 {height: 43px!important;background-color: #c2c9c7 !important;min-height: 30px;width: 150px;}
.circle-f{max-width: 75px;max-height: 75px;border:1px solid #cccccc;border-radius: 50%;width: 100%;height: 200px;margin: 0px auto;padding-top: 25px;}
.circle-img > img{position: relative;max-width: 100px;max-height: 100px;border-radius: 100%;width: 100%;height: 200px;}
.uploads-tabs{overflow: hidden;}
.img-tabs > a.active{background-color: #13c388 !important;color: #fff !important;border: 0 !important;}
.img-tabs > a{ padding-top: 2px !important;height: 43px!important;background-color: #fff !important;width: 49%;color: #13c388 !important;border: 1px solid #868686 !important;}
.gallery-picture{margin: 0 2px 0 2px;text-align: center;width: 32%;height: 100px;display:block;float: left;position: relative;padding-bottom: 5px;}
.gallery-picture > img{width: 100%;height: 100%;}
.gallery-video{ margin: -2px 2px 1px 2px;text-align: center;width: 32%;height: auto;display:block;float: left;position: relative; }
.gallery-video > img{width: 100%;height: 100%;}
.follow-btn{display: block;color: #13c388;border: 1px solid #13c388;height: 25px;padding: 2px 5px 2px 5px;width: 145px;margin: 0px auto;border-radius: 5px;}
.follow-btn-1{display: block;color: #fff;height: 25px;padding: 2px 5px 2px 5px;width: 145px;margin: 0px auto;border-radius: 5px;background-color: #13c388;}
.circle-img{text-align: center;margin: 0px auto;max-width: 130px;position: relative;}
.play-btn{position: absolute;background-color: #000 !important;z-index: 3;width: 100%;height: 96%;top: 0px;opacity: 0.5;bottom: 0;left: 0;right: 0;padding-top: 40%;}
.camera-open{position: absolute;top: 7px;right: 0;left: 0px;}
.camera-icon{width: 55px;height: 55px;}
.img-review{position: absolute;top: 3px;bottom: 0;left: 3px;}
.modal-3{display: block;position: absolute;top: 20px;z-index: 10;overflow: hidden;min-height: 100%;width: 90%;height: 60%;background-color: transparent;left: 5%;right: 5%;}
.truncate {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.profile-image > img{margin-top: 9px !important;max-height: 60px !important;max-width: 60px !important;left: 0px !important;border-radius: 100% !important;}
.profile-img{width: 100%;height: 100%;border: 1px solid #cccccc;max-height: 45px !important;max-width: 45px !important;left: 0px !important;border-radius: 50px !important;}
.profile-image {padding: 17px 0 17px 75px !important;margin:0 10px 0 10px;border-bottom: 1px solid #e0dfe0;border-top: 0;border-right: 0;border-left: 0;min-height: 95px !important;}
.f-chekmark{padding-right: 10px !important;}
.follow-button{cursor: pointer;margin-top: 15px;display: block;color: #00d1a5 !important;border: 1px solid #00d1a5 !important;;height: 30px !important;padding: 5px 10px 5px 10px !important;width: 100% !important;min-width: 110px !important;margin: 0px auto !important;border-radius: 5px !important;}
.following-button{cursor: pointer;margin-top: 15px;display: block; background-color: #00d1a5 !important;color: #fff !important;border: 1px solid #fff !important;;height: 30px !important;padding: 5px 10px 5px 10px !important;width: 100% !important;min-width: 110px !important;margin: 0px auto !important;border-radius: 5px !important;}
.margin-img{margin: 0 9px 0 1.5px;}
.width-105{width: 105px;}
.custom-step-login-cancel{border: 1px solid #e0dfe0 !important;background:#fff !important;border-radius:5px;border:1px solid #00d1a5;height: 40px;min-height: 40px;line-height: 35px;color: #00d1a5 !important;}
.margin-btn{margin-top: 17px !important;}
.featured-label{background-color: #ff55a1;width: 100%;max-width: 145px;border-radius: 6px 6px 0 0;text-align: center;height: 30px;padding-top: 5px;display: block;}
.pink-border{border: 1px solid #ff55a1;}
.gray-border{border: 1px solid #cccccc;}
.blue-border{border: 1px solid #668dff;}
.wall-post-block{width: 100%;overflow: hidden;border-radius: 5px;}
.img-border{border:1px solid #ccc;}
.wall-post-label{padding: 15px 8px 0 54px !important;border: 0px !important;min-height: 52px;}
.wall-post-label > img{top: 8px !important;left: 7px !important;}
.user-post-img{padding: 7px;border:0px !important;position: relative;}
.user-post-img-1{padding: 0px;border:0px !important;position: relative;}
.user-post-content{display: -webkit-box;
    max-width: 100%;
    height: auto;
    margin: 0;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding: 0 9px 5px 9px;}
    .user-post-content-1{display: -webkit-box;
    max-width: 100%;
    height: auto;
    margin: 0;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding: 8px 0px 5px 0px;}
    .post-section-icon{margin: 0 20px 0 0px;
    line-height: 25px;}
    .post-section-icon-1{margin: 0 10px 0 10px;
    line-height: 25px;}
    .footer-post-section{border-top: 1px solid #cccccc;
    margin: 15px 9px 10px 9px;
    overflow: hidden;
    padding-top: 10px;}
    .footer-post-section-1 {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 15px 0 10px 0;
    overflow: hidden;
    padding: 10px 0 10px 0;}
    .footer-post-section-2 {
    border-bottom: 1px solid #cccccc;
    margin: 0px 0 0px 0;
    overflow: hidden;
    padding: 0px 0 10px 10px;}
    .post_icon{margin-right: 5px; }
    .post_icon-3{margin-right: 3px; }
    .c-ba1{color: #ba1f1f;}
    .video-options{position: absolute;
    top: 35%;
    left: 7px;
    right: 7px;
    border: 7px;}
    .video-options > img{width: 15px !important;height: 30px !important;}
    .label-width{width:160px;}
    .opacity-video{background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;}
.opacity-video-1{background-color: #000;opacity: 0.5;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;}
.header-profile{max-height: 55px !important;min-height: 50px !important;}
.vertical-subb{vertical-align:sub;}
.comment-view{border-bottom: 1px solid #cccccc;overflow: hidden;padding-bottom: 15px;}
.sticky-post{background-color: #cccccc;    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;height: 45px;
    padding: 8px 0 0 10px;}
.position-relative{position: relative;}
.comment-box{
    border-radius: 4px;
    float: left;
    line-height: 13px !important;
    height: 30px !important;
    padding-left: 10px !important;}
    input.comment-box{width: 100%;}
input.comment-box::-webkit-input-placeholder {font-style: italic;font-size: 12px;}
.post-btn-1{min-height: 30px !important;float: right;border-radius: 4px !important;margin: 0 15px 0 0;background-color: #00d2a5;color: #fff;width: 80%;}
.post-btn-1:hover{color: #fff !important;background: #00d2a5;}   
.border-0{border: 0px !important;}
.bg-668-tabs  > a.active{background-color: #668dff !important;color: #fff !important;border: 0 !important;}
.bg-668-tabs > a{ padding-top: 2px !important;height: 43px!important;background-color: #fff !important;width: 49%;color: #668dff !important;border: 1px solid #868686 !important;}
.pink-img-tabs > a.active{background-color: #ff55a1  !important;color: #fff !important;border: 0 !important;}
.pink-img-tabs > a{ padding-top: 2px !important;height: 43px!important;background-color: #fff !important;width: 49%;color: #ff55a1 !important;border: 1px solid #868686 !important;}
.scronecode input {width: 100%;background: #efefef;text-align: center;padding: 0 5px;border:1px solid #e0dfe0;border-radius: 5px;height: 40px;}
.custom-step-submit{background:#00d1a5!important;border-radius:5px;border:1px solid #00d1a5;margin-top:20px;height: 40px;min-height: 40px;line-height: 35px;}
.edit-post-btn{background:#fff !important;border-radius:5px;height: 30px;min-height: 30px;line-height: 30px;}
.modal-4{display: block;position: absolute;top: 19%;z-index: 10;overflow: hidden;min-height: 100%;width: 90%;height: 60%;background-color: transparent;left: 5%;right: 5%;}
.modal-1{display: block;
    position: absolute;
    top: 40px;
    z-index: 10;
    overflow: hidden;
    min-height: 80%;width: 90%;height: 90%;background-color: #fff;left: 5%;right: 5%;border-radius: 10px;}
.bg-black-home{background-color: #000;height: 100%;overflow: hidden;}
.icon-text-img-1 > img{width: 20px;height: 23px;}
.icon-text-img-2 > img{width: 25px;height: 23px;}
.icon-text-img-3 > img{width: 21px;height: 22px;}
.icon-text-img-4 > img{width: 25px;height: 25px;}
.icon-text-img-5 > img{width: 25px;height: 23px;}
.icon-text-img-6 > img{width: 25px;height: 20px;}
.icon-text-1{width: 100%;margin: 0px auto;vertical-align: middle;}
.icon-text-2{width: 100%;margin: 0px auto;vertical-align: middle;}
.icon-text-3{width: 130%;margin: 0px auto;vertical-align: middle;}
.icon-text-4{width: 130%;margin: 0px auto;vertical-align: middle;}
.icon-text-5{width: 100%;margin: 0px auto;vertical-align: middle;}
.icon-text-6{width: 100%;margin: 0px auto;vertical-align: middle;}
.icon-texts-1 > p {padding-top: 5px;padding-left: 33px;}
.icon-texts-2 > p {padding-top: 5px;padding-left: 33px;}
.icon-texts-3 > p {padding-top: 5px;padding-left: 33px;}
.icon-texts-4 > p {padding-top: 5px;padding-left: 33px;}
.icon-texts-5 > p {padding-top: 5px;padding-left: 33px;}
.icon-texts-6 > p {padding-top: 5px;padding-left: 33px;}

.img-slide-1{background:url("../images/home-slide-11.jpg");background-size: 100% 100%;background-position: center; }
.img-slide-2{background:url("../images/home-slide-22.jpg");background-size: 100% 100%;background-position: center; }
.img-slide-3{background:url("../images/home-slide-33.jpg");background-size: 100% 100%;background-position: center; }
.img-slide-4{background:url("../images/home-slide-44.jpg");background-size: 100% 100%;background-position: center; }
.img-slide-5{background:url("../images/home-slide-55.jpg");background-size: 100% 100%;background-position: center; }
.img-slide-6{background:url("../images/home-slide-66.jpg");background-size: 100% 100%;background-position: center;}
.head-bar-color-2{color:#333333;font-size:14px;margin-left:5px;font-family: 100% 100%'Titillium Web', sans-serif;font-weight:600;line-height: 20px;}
.bar-comman {padding:1px 0 1px 0;background-color: #d1f0ff;margin-top: 0px;position: relative;height: 20px;}
.list-spacing-1{font-size: 16px!important;line-height: 36px;color:#0b0404!important;font-family: 'Titillium Web';font-weight:400;text-align: left;}

.custom-directory-1{padding: 4px !important;border-right: 0px;border-left: 0px; }
.directory-chevron-1{color: #828282;font-size: 14px !important;right: 0px !important;}


/* ----social-media------- */
/* ----about-us------- */
.bg-65d{background-color: #65d7c0 !important;}
.c-65d{color: #65d7c0 !important;}
.content-block-p > p{font-family: 'Titillium Web';font-weight:400;font-size: 16px;color: #333333;line-height: 22px;}
.content-block-p > span{font-family: 'Titillium Web';font-weight:400;font-size: 16px;color: #333333;line-height: 22px;padding-right: 10px;}
.content-block{padding: 5px 10px 5px 10px;}
.content-block-q{display: flex; }
/* ----about-us------- */
input[type=checkbox].cb {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=checkbox].cb + label.cl {padding:8px 0 0 30px;height:17px; display:inline-block;line-height:0px;background-repeat:no-repeat;background-position: 0 0;vertical-align:middle;cursor:pointer;}
input[type=checkbox].cb:checked + label.cl {background-position: 0 -16px;}
label.cl {background-image:url("../images/checkbox-1.png");-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.custom-step-submit-gray{background:#dddddd !important;border-radius:5px;border:1px solid #00d1a5;margin-top:20px;height: 40px;min-height: 40px;line-height: 35px;}

/*---------------profile section----------------------*/

.p-icon {padding: 7px;top: 3px !important;left: -7px !important;max-width: 65px !important;max-height: 65px !important;}
.icon-bar{margin: -1px 10px !important;border-left: 0 !important;border-right: 0 !important;padding: 16px 8px 16px 72px !important;}
.plus{left: 6px !important;}
.icon-bar-1{margin: -1px 10px !important;border-left: 0 !important;border-right: 0 !important;padding: 16px 8px 16px 65px !important;}
.setting-icon{width: 100%;height: auto;max-height: 40px !important;max-width: 40px !important;left: 0px !important;border-radius: 50px !important;margin-top: 4px !important;}
.camera-open-1{position: absolute;bottom: 10px;right: 0;left: 0px;}
.icon-bar-2{margin: -1px 10px !important;border-left: 0 !important;border-right: 0 !important;padding: 16px 0px 16px 0px !important;}
.info-wrapper{margin-bottom: 50px !important;margin-top: 15px !important;}
.b-right-arrow{float: right;color: #828282;font-size: 20px;}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated { border-color: #efeeee;
    background-color: #efeeee;  }
.wp-40{width: 40%;}
.wp-35{width: 35%;}
.input-box{border: 1px solid #ddd !important;height: 25px !important;border-radius: 5px;padding-left: 10px !important;width: 55%;}
.icon-bar-3{margin: -1px 10px !important;border-left: 0 !important;border-right: 0 !important;padding: 14px 0px 14px 0px !important;}
.r-btn{border: 1px solid #ddd !important;height: 30px !important;background-color: #fff !important;min-height: 30px;width: 48%;line-height: 0px;}
.r-btn-1{border: 1px solid #ddd !important;height: 30px !important;background-color: #fff !important;min-height: 30px;width: 100%;line-height: 0px;}
.s-btn-1{height: 30px !important;background-color: #00d2a5!important;min-height: 30px;width: 100%;line-height: 0px;}
.s-btn{height: 30px !important;background-color: #00d2a5!important;min-height: 30px;width: 48%;line-height: 0px;}
.c-308{color: #3081bc;}
.custom-step-submit-g{background:#cccccc !important;border-radius:5px;border:1px solid #00d1a5;margin-top:20px;height: 40px;min-height: 40px;line-height: 35px;}
.input-box-1{height: 25px !important;width: 50%;}
.select-type{border: 0;padding: 10px !important;}
.select-type-1{left: 0;padding: 0 0 0 10px !important;direction: ltr !important;}
.select-type-2{left: 0;padding: 0 0 0 0px !important;direction: ltr !important;}
.s-drop{right: 30px !important;padding: 0 0 0 0 !important;direction: rtl !important;}
.input-box-1::-webkit-input-placeholder{color: #ccc !important;}
.item-select-1{position: relative;}
.item-select-1:after {
    position: absolute;
    top: 45%;
    right: 0px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #fff;
    content: "";
    pointer-events: none;
}
.item-select-1:before{
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 8px solid;
    border-right: 7px solid transparent;
    border-left: 8px solid transparent;
    color: #828282;
    content: "";
    pointer-events: none;
}
.item-select-1 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 48px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}
.item-select-2{position: relative;}
.item-select-2:after {
    position: absolute;
    top: 45%;
    right: 10px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #fff;
    content: "";
    pointer-events: none;
}
.item-select-2:before{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 8px solid;
    border-right: 7px solid transparent;
    border-left: 8px solid transparent;
    color: #828282;
    content: "";
    pointer-events: none;
}
.item-select-2 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 48px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}
.btn-div{margin:0 10px !important;} 

.r-block{background-color: #f5f5f5;padding-left: 12px;}
.bg-f5f{background-color: #f5f5f5 !important;}
.c-333{color: #333333 !important;}
.repeat-screen-buttons-1{margin-top:30px;
    overflow: hidden;
    width: 80%;
    margin: 0px auto;
    max-width: 400px;
    margin-bottom:10px;}
    .icon-bar-4{margin: -1px 10px !important;border-left: 0 !important;border-right: 0 !important;padding: 13px 0px 13px 0px !important;}
    .input-box-2{border: 1px solid #ddd !important;height: 25px !important;border-radius: 5px;padding-left: 10px !important;width: 55%;line-height: 25px !important;padding-top: 0 !important;}
.camera-post{position: absolute;
    bottom: 20px;
    right: 15px;}    
.c-icon{padding:4px 8px 0 0;}
.r-box{width: 100%;}
.r-box-1{padding: 0;line-height: 0;height: 26px !important;width: 84%;}
.opacity-w{background-color: #000;
    opacity: 0.5;
    position: absolute; top: 0;
    right: 0;
    left: 0;
    bottom: 5px;
}
.opacity-w1{position: absolute;
    top: 40%;
    left: 7px;
    right: 7px;
    border: 7px;}
.adoption-container-s2-3{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px !important;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px #bbb;   
}    

.ion-android-home {
    font-size: 26px;
    color: #999999;
    margin-left: 10px;
    margin-top: 1px;
    }
.c-label{width: 29%;
    margin: 0px auto !important;margin-right: 32% !important;}    
.mg-top-3{margin-top: -3px;}
.mg-top-4{margin-top: -4px;}
.overflow-h{overflow: hidden;}
.featured-label-1{background-color: #668dff;width: 100%;max-width: 145px;border-radius: 6px 6px 0 0;text-align: center;height: 30px;padding-top: 5px;display: block;}
.c-668{color: #668dff;}
.search-bar{border-top:1px solid #cccccc;border-bottom: 1px solid #cccccc;padding-left: 10px;overflow: hidden;height: 40px;width: 100%;padding-top: 2px;}
.search-window{float: left;
    width: 83%;
    overflow: hidden;}
.c-a0a{color: #a0a0a0 !important;}
.s-icon{max-height: 33px;
    min-height: 33px;
    line-height: 33px;font-size: 22px;min-width: 15px;}
.bub-tab-1 > a{background-color:#66ccff !important;width: 43% !important;margin:  0px 0 0 15px !important;border-bottom: 1px solid #66ccff;min-height: 25px !important;height: 25px !important;line-height: 24px;}
.bub-tab-2 > a{background-color:#f4b860 !important;width: 43% !important;margin:  0px 20px 0 0px !important;border-bottom: 1px solid #f4b860;min-height: 25px !important;height: 25px !important;line-height: 24px;}
.bub-tab-1 > a.active{min-height: 30px !important;height: 30px !important;line-height: 25px;border: 0px;border-radius: 4px 4px 0 0;}
.bub-tab-2 > a.active{min-height: 30px !important;height: 30px !important;line-height: 25px;border: 0px;border-radius: 4px 4px 0 0;}
#tab-cw{padding-top: 10px;border-top: 2px solid #66ccff;}
#tab-dw{padding-top: 10px;border-top: 2px solid #f4b860 ;display: none;}
.search-header{padding-top: 55px;}
.has-header-1{top:138px;}
.has-header-2{top:95px;}
.close-icon-1{}
.v-b-middle{vertical-align: -webkit-baseline-middle;margin-top: 5px;}
.modal-5{display: block;position: absolute;top: 19%;z-index: 10;overflow: hidden;min-height: 30%;width: 90%;height: 30%;background-color: #fff;left: 5%;right: 5%;border-radius: 10px;}
.custom-ok{background: #00d1a5 !important;
    border-radius: 5px;
    border: 1px solid #00d1a5;
    margin-top: 20px;
    height: 30px;
    min-height: 30px;
    line-height: 25px;width: 18% !important;margin: 0px auto !important;}
.float-none{float: none !important;}    
.modal-6{    display: block;
    position: absolute;
    top: 0px;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    height: 60%;
    background-color: #333333;
    left: 0;
    right: 0;
    padding: 10%;
}
.dr-tab-1 > a{background-color:#66ccff !important;width: 23% !important;margin:  0px 0 0 22px !important;border-bottom: 1px solid #66ccff;min-height: 25px !important;height: 25px !important;line-height: 24px;}
.dr-tab-2 > a{background-color:#00d2a5 !important;width: 23% !important;margin:  0px 0px 0 15px !important;border-bottom: 1px solid #00d2a5;min-height: 25px !important;height: 25px !important;line-height: 24px;}
.dr-tab-3 > a{background-color:#f4b860 !important;width: 33% !important;padding: 0!important;margin:  0px 0px 0 15px !important;border-bottom: 1px solid #f4b860;min-height: 25px !important;height: 25px !important;line-height: 24px;}
.dr-tab-1 > a.active{min-height: 30px !important;height: 30px !important;line-height: 25px;border: 0px;border-radius: 4px 4px 0 0;}
.dr-tab-2 > a.active{min-height: 30px !important;height: 30px !important;line-height: 25px;border: 0px;border-radius: 4px 4px 0 0;}
.dr-tab-3 > a.active{min-height: 30px !important;height: 30px !important;line-height: 25px;border: 0px;border-radius: 4px 4px 0 0;}
#tab-pw{padding-top: 10px;margin: 0px 7px 0 7px;border-top: 2px solid #66ccff;}
#tab-qw{padding-top: 10px;margin: 0px 7px 0 7px;border-top: 2px solid #00d2a5 ;}
#tab-rw{padding-top: 10px;border-top: 2px solid #f4b860;}
.bar-comman-tab-2{padding:1px 0 1px 0;background-color: #98e8e5;margin-top: 0px;position: relative;height: 20px;}
.w-150{margin: 0px auto;width: 150px;}
.bg-76c{background-color: #76c3ea !important;}
.bg-efe{background-color: #efeeee !important;}
.menu-icon > img{top:11px !important;left: 0px !important;max-width: 50px !important;max-height: 50px !important;}
.menu-icon {padding-left: 65px !important;margin: -1px 15px;border-left: 0;border-right: 0;}
.menu-top{border: 0;}
.bg-tran{background-color: transparent;}
.bg-tran:active{background-color: #efeeee;}
.bg-tran:hover{background-color: #efeeee;}
.bg-tran:focus{background-color: #efeeee;}
.border-top-zero{border-top: 0px !important;}
.border-bottom-zero{border-bottom: 0px !important;}
.bg-66c{background-color: #66ccff !important;}
.bg-e0e{background-color: #e0e0e0;}
.step-one{width:90px;margin-right: 5px;font-family: 'Titillium Web', sans-serif;font-weight:400;height: 32px;color: #0b0404; }
.step-two{width:90px;margin-right: 5px;font-family: 'Titillium Web', sans-serif;font-weight:400;height: 32px;color: #0b0404; }
.step-three{width:90px;margin-right: 5px;font-family: 'Titillium Web', sans-serif;font-weight:400;height: 32px;color: #0b0404; }
.steps{color:#0b0404!important;font-family: 'Titillium Web', sans-serif;}
.steps.active{color:#cccccc!important;font-family: 'Titillium Web', sans-serif;font-weight:600;}
.panel-container{background:#ffffff;font-family: 'Titillium Web', sans-serif;font-weight:600;}


.step-one.active{background-color:#ffffff !important;font-family: 'Titillium Web', sans-serif;font-weight:600;border-radius: 4px 4px 0 0 ;}
.step-two.active{background-color:#ffffff !important;font-family: 'Titillium Web', sans-serif;font-weight:600;border-radius: 4px 4px 0 0 ;}
.step-three.active{background-color:#ffffff !important;font-family: 'Titillium Web', sans-serif;font-weight:600;border-radius: 4px 4px 0 0 ;}
.step-text{max-width: 200px;width:100%;font-size:14px;font-family: 'Titillium Web', sans-serif;font-weight:400;color:#666666;padding-left: 8px;line-height: 18px;}
.head-text-drbub{
    /*margin-top:20px;*/
    font-family: 'Titillium Web', sans-serif;font-weight:600;color:#000000;font-size:22px;}
.sky-blue{background-color:#66ccff!important;height:50px;}
.imp-text{color:#ff0000;font-family: 'Titillium Web', sans-serif;font-weight:700;font-size:14px;padding-top:20px;}
.bg-00d{background-color: #00d2a5 !important;}
.item-cart-border{border: 0;border-bottom: 1px solid #ddd;border-radius: 0;padding-top: 1px;}
.thumb-pics img{top: 4px!important;
    left: 4px!important;
    max-width: 114px!important;
    max-height: 82%!important;
    width: 100%;}
.thumb-pics{padding-left:120px!important;}    
.s-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 48px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    /*text-indent: .01px;*/
    text-indent: 2px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}

.icon-bar-5{margin: -1px 12px !important;border-left: 0 !important;border-right: 0 !important;padding: 16px 0px 16px 0px !important;}
/*.slider-slide-1{height: 239px !important;}*/
.i-txt{display:table-cell;padding-left: 30px;}
.btn-remove{background-color: transparent !important;
    border: 0;padding: 0 15px 0 0 !important;direction: rtl;text-align: right;}
 .item-select-arrow-b:before{right: 0 !important;
    position: absolute;
    top: 21px;
    width: 10px;
    height: 8px;
    background:url("../images/select-drop-icon.png")no-repeat;
    color: #585858;
    content: "";
    pointer-events: none;
    background-size: contain;    
}       
.post-border-box{border: 1px solid #e0dfe0;height: auto;
    margin: 5px 15px 15px 15px;
    border-radius: 10px;}
.wb-top{border-top: 1px solid #cccccc;padding-top: 13px !important;}
.write-textarea{resize: none;width: 98%;}
.width-55p{width: 93% !important;}
.b-top{border-top: 1px solid #ddd !important;width: 60%;float: right;margin-top: 10px;}
.o-tab{
    width: 60%;
    height: 36px !important;
    
    padding: 25px 0 10px 0 !important;
}
input.o-tab::-webkit-input-placeholder{color: #ccc !important;}
.o-tab-1 {
    width: 60%;
    height: 36px !important;
    padding: 15px 0 0 0 !important;
}

.platform-ios .select-type{border: 0;padding: 10px !important;}
.platform-ios .select-type-1{left: 0;padding: 0 0 0 10px !important;direction: ltr !important;}
.platform-ios .select-type-2{left: 0;padding: 0 0 0 0px !important;direction: ltr !important;}
.item-radio .radio-icon{font-size: 13px;color: #999999;left: 0;padding-top: 21px;}
.item-radio input:checked + .radio-content .item-content{background-color: #fff;color: #999999 !important;}
.btn-past{border:1px solid #65d7be !important; background-color:#ffffff !important;border-radius: 50px;height: 15px;padding: 0 12px 0 12px !important;min-height: 25px !important;margin: 10px 5px 10px 0;}
.slider-height{height: 202px;}
.news-heart{width: 100%;height: auto;max-height: 45px !important;max-width: 45px !important;left: 0px !important;border-radius: 50px !important;margin-top: 3px;}
.heart-green{text-align: right;height: 20px;}
.heart-green > img{width: 100%;height: 100%;max-width:20px ;max-height:18px; }
.card-boxshadow{border-radius: 5px !important;}
.radius-1{    border-radius: 8px;
    margin-top: 16px!important;}
.c-6fa{color: #6faacc;}