.dog-icon-layer{ background-size: 130% 100% !important;}
.pet-directory-layer{background-size: 130% 100% !important;}
.pet-cal-layer{background-size: 130% 100% !important;}
.bub-hub-layer{background-size: 130% 100% !important;}
.drbubs-layer{background-size: 130% 100% !important;}
.news-layer{background-size: 130% 100% !important;}
.bubtalk-layer{background-size: 130% 100% !important;}

.video-options{
    z-index: 1111;
}

.popup-container .popup{
    background-color: #fff;
    width: 280px;
}

.popup-head{
    text-align: left;
    padding: 15px 20px;
    border-bottom: none;
}

.popup-head .popup-title{
    font-size: 18px;
    font-weight: bold;
}

.popup-body{
    padding:10px 20px 20px 20px;
}

.button-clear.activated{
 /*opacity: 1 !important;   */
}
.popup-buttons{
    text-align: right;
    display: block;
    min-height: 0;
    height: auto;
    padding-bottom: 20px;
}
.popup-buttons-right {
    text-align: right;
    display: block;
    min-height: 0;
    height: auto;
    padding-bottom: 20px;
}
.popup-buttons .button{
    display: inline-block;
    background: none;
    border: none;
    height: 40px;
    width: auto;
    padding: 0;
    color:#65d7c0;
    font-weight: 500;
    min-height: 0;
    line-height: normal;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-right: 20px;
}

.popup-buttons .button.button-positive:hover,.popup-buttons .button.button-positive.activated{
    color:#65d7c0;
    background-color: transparent;

}

.select-type-2 {
    left: 0;
    padding: 0px 0px 0px 3px !important;
    direction: ltr !important;
}
input[disabled]{background-color: transparent !important;}
.r-box{width: 96% !important;}
.r-box-1{padding: 0;line-height: 0;height: 26px !important;width: 80% !important;}

.rply-bg .comment-btn{padding: 1px 0 15px 3px;}

.pet-news-bg .item-content,.pet-news-bg .item-content.activated{
    padding: 0px !important;
    background-color: transparent !important;
}

/*.gallery-picture {
    width: 80px !important;
    height: 80px !important;
    /* zoom: 41%; */
}*/

.post-border-box{
    margin: 5px 15px 15px 0px !important;
}

.pet-news-bg .thumb-pic{
    text-overflow: ellipsis;
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    padding-top:0px; 
}

.pet-news-bg  .item-complex,.pet-news-bg  .item-complex.activated{
    background-color: transparent !important;
    border: none;
}
.pet-news-bg .item-options .ion-ios-trash-outline{
    color: #fff;

}

.pet-news-bg .item-options.activated {
    background-color: transparent !important;
}

.rating{
  text-align: center;
}
ul.rating li {
  display: inline;
    border: 0px;
    background: none;
    padding: 2px;
    width: inherit;
    float: none;

}
ul.rating li i {
    font-size: 35px;
    color: gold;
    letter-spacing: 9px;
}

/*Rating Close event color:#fff */
.ratingClose {
    position: absolute;
    margin-top: -30%;
    right: -2%;
    font-size: 4vw;
    color: #65d7c0 !important;
}

.bar-3 b{color: #fff;}
.padding-5{padding: 5px;}

/*Custom Margin for Pet-news*/
.time-hover,.pet-hover{
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
}

.ion-option-calendar,
.ion-option-calendar .item-complex .item-content,
.ion-option-calendar .item-complex{
    padding: 0;
    border:none;
}

.item-options .button{
    background-color: transparent;
    /*border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
}

.item-options .ion-ios-trash-outline{
    color: Red;
}

.item-options .ion-edit{
    color: blue;
}

.sidebar {
    position : absolute;
    top : 0;
    left : -320px;;
    transition : 0.5s left;
    z-index: 1111;
}
#navigation-toggle {
    position : absolute;
    left : 320px;
    color : #444;
    text-decoration : none;
    padding : 20px;
    z-index: 1111;
    font-size:25px;
}


.sidemenu-background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: opacity 0.5s linear;
    background-color: rgb(0,0,0); /*dim the background*/
}
.sidebar.show #navigation-toggle{
    transition : 0.25s min-height;
    /*transition : 0.5s min-width;*/
    min-height: 1000px;
    min-width: 100px;

}

.navigation-items{
    width: 100px
}

.sidemenu-background{
    background-color: rgb(255,255,255); /*#007aca*/
    transition : 0.5s width;
}

.show {
    left : 0 !important;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 160px;
    z-index: 1111;

}
.navigation-items a:hover {
    background-color : #222;
}

.comment-box{
    width: 100%;
}

.rply-box{
    background: #fff;
}
#sidebarContainer .scroll-content{
  top: 56px;
}

.s-btn-2 {
  height: 30px !important;
    background-color: #00d2a5 !important;
    min-height: 30px !important;
    width: 48%;
    line-height: 0px !important;
    color: white !important;
}

.has-header.has-search-bar{
  top: 95px !important;
}

.hide-ion-content{
  display: none !important;
}

.ion-content-top-138 .scroll-content{
  top: 138px;
}

.transparent-date-field{
    background: transparent;
    padding-top: 0 !important;
}

.bubs-tab-1{
    background-color:#66ccff !important;
    width: 43% !important;
    margin:  0px 20px 0 10px !important;
    border-bottom: 1px solid #66ccff;
    min-height: 26px !important;
    height: 26px !important;
    line-height: 24px;
    border-radius: 6px !important;
    
}

.bubs-tab-2{
    background-color:#f4b860 !important;
    width: 43% !important;
    margin:  0px 20px 0 0px !important;
    border-bottom: 1px solid #f4b860;
    min-height: 26px !important;height: 25px !important;
    line-height: 24px;
    border-top-left-radius: 6px!important;
    border-top-right-radius: 6px !important;
}

.bubs-tab-1.active{
    min-height: 30px !important;
    height: 30px !important;
    line-height: 25px;
    border: 0px;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.bubs-tab-2.active{
    min-height: 30px !important;
    height: 30px !important;
    line-height: 25px;
    border: 0px;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 0px !important;
}

i.cameraIconBtn.ion-camera.icon::before {
font-size: 50px !important;
}

i.videoIconBtn.ion-social-youtube-outline.icon::before {
font-size: 50px !important;
}

.bub-hub-loves > a.active{background-color: #ff55a1 !important;color: #fff !important;border: 0 !important;}
.bub-hub-loves > a{ padding-top: 2px !important;height: 43px!important;background-color: #fff !important;width: 49%;color: #ff55a1 !important;border: 1px solid #868686 !important;}

.pane {
    -webkit-transition-duration: 800ms!important; 
    transition-duration: 800ms!important; 
}

.postThumbnailImage {
    zoom : 1;
    max-height:275px;
    height: auto;
    object-fit: cover; /* Fit logo in the image size */
    -o-object-fit: cover; /* Fit logo fro opera browser */
}
.padding-top-zero{padding-bottom:0px !important;}

.gallery-picture{
    margin: 0px 2px 3px 2px !important;
    height: 100px !important;
}

.petDirContentBckColor {
    background-color: #e7e7e7;
}

.margin-right-5{
    margin-right: 5px !important; 
}

.margin-right-7{
    margin-right: 7px !important; 
}
.margin-bottom-0{margin-bottom:0px !important;}
.text-Allign-justify{text-align: justify;}
.text-Allign-Center{text-align: center;}

.size-19{
    font-size: 19px;
}

.breakLine{
    white-space: normal !important;
}

.setWebsiteUrl {
    overflow: hidden !important;
}

.pTagTextIntend{
    text-indent: 10%;
    margin-top: 5%;
}

.video-options-bub-hub {
    position: absolute;
    top: 45%;
    left: 7px;
    right: 7px;
    border: 7px;
}
.video-options-bub-hub > img{width: 15px !important;height: 30px !important;}
.searchBox{vertical-align: -webkit-baseline-middle;margin-top: 5px;width: 22px;height: 60%}
.right-align-share {float:right;margin-left:5px;margin-right:15px !important;}
.ion-content-top-139 .scroll-content{
  top: 100px;
}

.modal-select-options {
     border: 1px solid #dadada; 
    width: 100%;
    border-radius: 5px;
    padding-left: 5px!important;
    background: #f4f2f2;
    height: 40px;
}
.custom-step-submit-green{background:#00d1a5 !important;border-radius:5px;border:1px solid #00d1a5;margin-top:20px;height: 40px;min-height: 40px;line-height: 35px;}
.search-window{width: 92% !important;}
.opacity-slide1 {    width: 100%;    box-shadow: 0 85px 40px 20px #000;    height: 0px;    position: relative;    bottom: 100px;    overflow: hidden;    opacity: 0.2;}